<div class='col-12'>
  <app-breadcrumbs [names]="[moduleTitle|translate, 'course.subtitle' | translate]"></app-breadcrumbs>
  <div class='text-right'>
    <button (click)='back()' color='primary' mat-flat-button>
      <mat-icon>keyboard_backspace</mat-icon>
      {{'button.back'|translate}}
    </button>
  </div>

  <mat-card class='mt-2 mb-5 col-12'>
    <mat-card-header>
      <mat-card-title>Vytvorenie nového predmetu
        <!--        {{ 'course.title.new' | translate }}-->
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #form='ngForm'
            (ngSubmit)='resetForm(form)'
            [formGroup]='courseForm'
            class='px-0 col-12 d-flex flex-wrap'>
        <!-- predmet -->
        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            Názov predmetu
            <!--            {{'course.name' | translate}}-->
          </mat-label>
          <input formControlName='courseName'
                 matInput
                 placeholder="{{'course.form.courseName.placeholder' | translate}}"
                 type='text'
          />
        </mat-form-field>

        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            Meno garanta
            <!--            {{'course.name' | translate}}-->
          </mat-label>
          <input formControlName='guarantor'
                 matInput
                 placeholder="{{'course.form.guarantor.placeholder' | translate}}"
                 type='text'
          />
        </mat-form-field>


        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            Názov ústavu
            <!--            {{'course.name' | translate}}-->
          </mat-label>
          <input formControlName='departmentForCourse'
                 matInput
                 placeholder="{{'course.form.departmentCourse.placeholder' | translate}}"
                 type='text'
          />
        </mat-form-field>

        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            Kód predmetu
            <!--            {{'course.name' | translate}}-->
          </mat-label>
          <input formControlName='codeForCourse'
                 matInput
                 placeholder="{{'course.form.codeForCourse.placeholder' | translate}}"
                 type='text'
          />
        </mat-form-field>

        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
              Ukončenie predmetu
            <!--            {{'course.name' | translate}}-->
          </mat-label>
          <input formControlName='completionForCourse'
                 matInput
                 placeholder="{{'course.form.completionForCourse.placeholder' | translate}}"
                 type='text'
          />
        </mat-form-field>

        <mat-form-field class='col-12 col-md-3 col-lg-1 me-3'>
          <mat-label>
            Počet kreditov
            <!--            {{'course.students.label' | translate}}-->
          </mat-label>
          <input
            formControlName='creditsForCourse'
            matInput
            placeholder='10'
            type='number'
            required
          />
<!--          <mat-hint>-->
<!--            {{'course.students.hint' | translate}}-->
<!--          </mat-hint>-->
<!--          <mat-error *ngIf="controls.studentsNum.hasError('required')">-->
<!--            {{'form.required'|translate}}-->
<!--          </mat-error>-->
        </mat-form-field>
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-3'>
          <mat-label>
            Obdobie
            <!--            {{'course.students.label' | translate}}-->
          </mat-label>
          <input
            formControlName='periodOfCourse'
            matInput
            placeholder='10'
            type='number'
            required
          />
          <!--          <mat-hint>-->
          <!--            {{'course.students.hint' | translate}}-->
          <!--          </mat-hint>-->
          <!--          <mat-error *ngIf="controls.studentsNum.hasError('required')">-->
          <!--            {{'form.required'|translate}}-->
          <!--          </mat-error>-->
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <mat-action-list>
        <button
          (click)='onCourseCancel()'
          [matTooltip]="'course.button.cancel.tooltip'|translate"
          mat-flat-button
          type='button'
        >
          <mat-icon color='warn'>close</mat-icon>
          <span class='ml-2'>
            {{'button.cancel'|translate}}
          </span>
        </button>

        <button
          (click)='submit()'
          [matTooltip]="'course.button.submit.tooltip'|translate"
          class='ml-1'
          mat-flat-button
          [disabled]='courseForm.invalid'
          type='submit'
        >
          <mat-icon color='primary'>send</mat-icon>
          <span class='ml-2'>
            {{'button.submit'|translate}}
          </span>
        </button>
      </mat-action-list>

    </mat-card-actions>
  </mat-card>
</div>
