<mat-card>
  <mat-card-actions align='end'>
    <button (click)='refresh()' color='primary' mat-icon-button>
      <mat-icon [ngClass]="isLoading ? 'spin' : ''" matTooltip="{{'list.refresh'|translate}}">loop</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-header>
    <mat-card-title>{{'schema.list.title'|translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance='fill'>
      <mat-label>{{'list.filter.label'|translate}}</mat-label>
      <input
        #input
        (keyup)='applyFilter(input.value)'
        [(ngModel)]='searchText'
        matInput
        placeholder="{{'period.list.filter.placeholder'|translate}}"
      />
      <button (click)="applyFilter('')" *ngIf='input.value' aria-label='Clear' mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <table [dataSource]='dataSource' aria-label='Table' mat-table matSort>
      <ng-container matColumnDef='select'>
        <th *matHeaderCellDef id='select' mat-header-cell>
        </th>
        <td *matCellDef='let row' mat-cell>
          <mat-checkbox (change)='$event ? selection.toggle(row) : null'
                        (click)='$event.stopPropagation()'
                        [checked]='selection.isSelected(row)'>
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef='id'>
        <th *matHeaderCellDef id='id' mat-header-cell mat-sort-header>ID</th>
        <td *matCellDef='let row' mat-cell>{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef='name'>
        <th *matHeaderCellDef id='name' mat-header-cell mat-sort-header>
          {{'schema.list.name'|translate}}
        </th>
        <td *matCellDef='let row' mat-cell>{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef='btn'>
        <th *matHeaderCellDef id='btn' mat-header-cell mat-sort-header>
        </th>
        <td *matCellDef='let row' mat-cell>
          <button mat-icon-button matTooltip="{{'schema.list.btn.import'|translate}}" (click)='manualImport(row)'>
            <mat-icon color='primary'>import_export</mat-icon>
          </button>
          <button mat-icon-button matTooltip="{{'schema.list.btn.update'|translate}}" (click)='updateForVersion(row)'>
            <mat-icon color='primary'>update</mat-icon>
          </button>
          <button mat-icon-button matTooltip="{{'schema.list.btn.delete'|translate}}" (click)='deleteSchema(row)'>
            <mat-icon class='decline-color'>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef='status'>
        <th *matHeaderCellDef id='status' mat-header-cell mat-sort-header>
          {{'schema.list.status'|translate}}
        </th>
        <td *matCellDef='let row' mat-cell>{{ row.status }}</td>
      </ng-container>

      <ng-container matColumnDef='parent_schema'>
        <th *matHeaderCellDef id='parent_schema' mat-header-cell mat-sort-header>
          {{'schema.list.parent_schema'|translate}}
        </th>
        <td *matCellDef='let row' mat-cell>{{ row.parent_schema }}</td>
      </ng-container>

      <ng-container matColumnDef='last_updated'>
        <th *matHeaderCellDef id='last_updated' mat-header-cell mat-sort-header>
          {{'schema.list.last_updated'|translate}}
        </th>
        <td *matCellDef='let row' mat-cell>
          {{row.updated_at | date:'short'}}
        </td>
      </ng-container>

      <ng-container matColumnDef='period'>
        <th *matHeaderCellDef id='period' mat-header-cell mat-sort-header>
          {{'schema.list.period'|translate}}
        </th>
        <td *matCellDef='let row' mat-cell>{{ row.periodData | periodName }}</td>
      </ng-container>

      <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
      <tr *matRowDef='let row; columns: displayedColumns' mat-row></tr>

      <tr *matNoDataRow class='mat-row'>
        <td class='mat-cell' colspan='3'>
          {{'list.data.empty'|translate}}
        </td>
      </tr>
    </table>
  </mat-card-content>

  <mat-card-footer>
    <mat-paginator
      (page)='loadPage($event)'
      [length]='resultsLength'
      [pageIndex]='pageIndex'
      [pageSizeOptions]='pagination'
      [pageSize]='pageSize'
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
