<mat-card class='col-12 col-lg-6 mt-3'>
  <mat-card-header>
    <mat-card-title>
      {{'schema.new.title'|translate}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (error)='onError.emit($event)'
          (success)='onSuccess.emit(path)'
          [formGroup]='formGroup'
          [formPath]='path'
          appConnectForm>
      <mat-form-field class='col-12 col-lg-4'>
        <mat-label>{{'schema.new.name.label'|translate}}</mat-label>
        <input formControlName='name' matInput required type='text'>
        <mat-error *ngIf="controls.name.touched && controls.name.hasError('required')"
                   class='errors'>
          {{'form.required'|translate}}
        </mat-error>
        <mat-error *ngIf="controls.name.touched && controls.name.hasError('pattern')"
                   class='errors'>
          {{'schema.name.pattern'|translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class='col-12 col-lg-4'>
        <mat-label>{{'schema.new.period.label'|translate}}</mat-label>
        <input [value]='displayObjectFn(controls.period.value)' matInput required type='text' readonly>
        <mat-error *ngIf="controls.period.touched && controls.period.hasError('required')"
                   class='errors'>
          {{'form.required'|translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class='col-12 col-lg-4'>
        <mat-label>{{'schema.new.parent.label'|translate}}</mat-label>
        <input matInput readonly [value]='displayObjectFn(controls.parent.value)'>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)='submit()' [disabled]='formGroup.invalid' mat-button>
      <mat-icon>add</mat-icon>
      {{'button.add'|translate}}
    </button>
  </mat-card-actions>
</mat-card>
