<div class='col-12'>
  <app-breadcrumbs [names]='[moduleTitle | translate, data.id |detailTitle]'></app-breadcrumbs>
  <div class='text-right'>
    <button (click)='back(moduleId)' color='primary' mat-flat-button>
      <mat-icon>keyboard_backspace</mat-icon>
      {{'button.back'|translate}}
    </button>
  </div>

  <mat-card class='mt-2 mb-5 col-12'>
    <mat-card-header></mat-card-header>
    <mat-card-content>
      <div class='px-0 col-12 d-flex flex-wrap'>
        <!-- predmet -->
        <mat-form-field class='col-12 col-md-4 col-lg-3 me-2'>
          <mat-label>
            {{'requirement.subject.name' | translate}}
          </mat-label>
          <input
            [value]='data.course | courseName'
            matInput
            placeholder="{{'requirement.subject.placeholder' | translate}}"
            readonly
            type='text'
          />
        </mat-form-field>
        <!-- ustav -->
        <mat-form-field class='col-12 col-md-4 col-lg-2 me-2'>
          <mat-label>
            {{'requirement.detail.department.name' | translate}}
          </mat-label>
          <input
            [value]='data.department.name'
            matInput
            placeholder="{{'requirement.detail.department.placeholder' | translate}}"
            readonly
            type='text'
          />
        </mat-form-field>
        <!-- pocet skupin -->
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-2'>
          <mat-label>
            {{'requirement.groups-num.label' | translate}}
          </mat-label>
          <input
            [value]='data.groups_count.toString()'
            digitOnly
            inputmode='numeric'
            matInput
            readonly
            type='text'
          />
        </mat-form-field>
        <!-- pocet studentov -->
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-2'>
          <mat-label>
            {{'requirement.students.label' | translate}}
          </mat-label>
          <input
            [value]='data.students_count.toString()'
            matInput
            placeholder='10'
            readonly
            type='text'
          />
          <mat-hint>
            {{'requirement.students.hint' | translate}}
          </mat-hint>
        </mat-form-field>
        <!-- pocet studentov extra -->
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-2'>
          <mat-label>
            {{'requirement.students.extra.label' | translate}}
          </mat-label>
          <input
            [value]='data.students_count_extra.toString()'
            matInput
            placeholder='10'
            readonly
            type='text'
          />
          <mat-hint>
            {{'requirement.students.extra.hint' | translate}}
          </mat-hint>
        </mat-form-field>

        <!-- radenie -->
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-2'>
          <mat-label>
            {{'requirement.series.label' | translate}}
          </mat-label>
          <input
            [value]='data.max_serial_courses.toString()'
            digitOnly
            inputmode='numeric'
            matInput
            readonly
            type='text'
          />
          <mat-hint>
            {{'requirement.series.hint' | translate}}
          </mat-hint>
        </mat-form-field>

        <!-- paralelizmus -->
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-2'>
          <mat-label>
            {{'requirement.parallel.label' | translate}}
          </mat-label>
          <input
            [value]='data.max_parallel_courses == null ? "": data.max_parallel_courses'
            digitOnly
            inputmode='numeric'
            matInput
            pattern='[0-9]*'
            readonly
            type='text'
          />
          <mat-hint>
            {{'requirement.parallel.hint' | translate}}</mat-hint>
        </mat-form-field>

        <!-- Cvicenia -->
        <ng-container *ngIf='data| requirementActivities | hasPractice'>
          <!-- neparny tyzden -->
          <div class='col-12 col-md-3 col-lg-1 mt-2'>
            <mat-checkbox [checked]='data.exercise_odd_week'
                          [disabled]='true'
                          indeterminate='false'
                          labelPosition='after'
            >
              {{'requirement.odd-week.label' | translate}}
            </mat-checkbox>
            <!-- cviko po prednaske -->
            <mat-checkbox [checked]='data.exercise_after_lecture'
                          [disabled]='true'
                          indeterminate='false'
                          labelPosition='after'
            >
              {{'requirement.after-lecture.label' | translate}}
            </mat-checkbox>
          </div>
        </ng-container>

        <!-- rozdelenie hodin -->
        <app-activity-selection [activities]='data|requirementActivities' [readOnly]='true'
                                class='col-12 col-lg-3 mt-3'></app-activity-selection>

        <!-- ucitelia -->
        <app-teacher-select [data]='data.requirement_teachers'
                            [readonly]='true'
                            class='col-12 col-lg-5 me-2 mt-3'
        ></app-teacher-select>

        <!-- sprava -->
        <app-comment (onDeleteComment)='handleDeleteComment($event)'
                     (onEditComment)='handleEditComment($event)'
                     (onSubmit)='handleNewComment($event)'
                     [comments]='data.requirement_comments'
                     [loggedUserId]='loggedUserId'
                     class='col-12 col-lg-3 mt-5'
        ></app-comment>

        <mat-tab-group animationDuration='0ms' class='col-12' dynamicHeight>
          <mat-tab *ngFor='let tab of data.requirement_parts'>
            <ng-template mat-tab-label>{{tab.category|categoryTranslate}}</ng-template>
            <app-time-picker *ngIf='tab.time'
                             [readonly]='true'
                             [time]='tab.time'
                             class='col-12'
            ></app-time-picker>
            <app-room-detail *ngIf='tab.room'
                             [room]='tab.room'
                             class='col-12 col-md-6 col-lg-4'
            ></app-room-detail>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>
