.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
    min-width: 75px;

    .item{
      height: 65px;
    }
    .item-clickable{
      height: 65px;
      cursor: pointer;
    }
  }
}
.eventTypes .mat-card{
  display: inline-block;
}
