<div class='col-12 px-0'>
  <h3><strong>{{'time.picker.title'|translate}}</strong></h3>

  <div class='scrolling-wrapper'>
    <div class='card' fxLayout='column'>
      <mat-card class='item'>
      </mat-card>
      <mat-card (click)='changeColAvailability(i)' *ngFor='let day of days;let i = index;' class='item'>
        <mat-card-header>
          <mat-card-title>
            {{ day.short | translate }}
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div *ngFor='let col of time;let i = index' class='card' fxLayout='column'>
      <mat-card (click)='changeRowAvailability(i)' class='item'>
        <mat-card-content>
          <strong>
            {{ col[0].time|date:'shortTime'}} - {{col[0].time| amAdd: 50 : 'm'|date:'shortTime'}}
          </strong>
        </mat-card-content>
      </mat-card>
      <mat-card (click)='changeAvailability(i,j)' *ngFor='let data of col;let j = index' [ngStyle]='{ backgroundColor: getColor(data) }'
                class='item'>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- legend -->
  <div class='mt-5 eventTypes'>
    <ng-container *ngFor='let item of eventTypes'>
      <mat-card class="me-1" [ngStyle]='{ backgroundColor: item.color }'></mat-card>
      <span class='me-3 '>{{ item.value | translate}}</span>
    </ng-container>
  </div>
</div>
