<div class='col-12'>
  <div class='row col-12'>
    <div class='col-9 text-left'>
      <mat-form-field appearance='fill'>
        <mat-label>{{'list.filter.label'|translate}}</mat-label>
        <input
          #input
          (keyup)='applyFilter(input.value)'
          [(ngModel)]='searchText'
          matInput
          placeholder="{{'course.list.filter.placeholder'|translate}}"
        />
        <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class='col-2 text-right'>
      <button
        (click)='newCourse()'
        class='mb-2'
        color='primary'
        mat-flat-button
      >
        <mat-icon>add</mat-icon>
        Pridať predmet
<!--        {{'course.button.add'|translate}}-->
      </button>
      <button (click)='refresh()' class='px-0 py-0' color='primary' mat-icon-button>
        <mat-icon [ngClass]="isLoading ? 'spin' : ''" matTooltip="{{'list.refresh'|translate}}">loop</mat-icon>
      </button>
    </div>
  </div>

  <div class='col-12'>
    <div *ngIf='isLoading' class='table-loading-shade'>
      <mat-spinner></mat-spinner>
    </div>
    <div class='mat-elevation-z8'>
      <table [dataSource]='dataSource' aria-label='Table of departments' mat-table matSort>
        <ng-container matColumnDef='code'>
          <th *matHeaderCellDef id='code' mat-header-cell mat-sort-header>
            {{'course.list.code'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row.code }}</td>
        </ng-container>

        <ng-container matColumnDef='name'>
          <th *matHeaderCellDef id='name' mat-header-cell mat-sort-header>
            {{'course.list.name'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef='department'>
          <th *matHeaderCellDef id='shortname' mat-header-cell mat-sort-header>
            {{'course.list.department'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row.department | departmentName }}</td>
        </ng-container>

        <ng-container matColumnDef='completion'>
          <th *matHeaderCellDef id='completion' mat-header-cell mat-sort-header>
            {{'course.list.completion'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row.completion }}</td>
        </ng-container>

        <ng-container matColumnDef='btn'>
          <th *matHeaderCellDef id='btn' mat-header-cell mat-sort-header>
          </th>
          <td *matCellDef='let row' mat-cell>
            <button mat-icon-button matTooltip="{{'course-list.btn.edit'|translate}}"
                    (click)='editCourse($event, row);'>
              <mat-icon class='decline-color'>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="{{'course-list.btn.delete'|translate}}"
                    (click)='deleteItem($event, row);'>
              <mat-icon class='decline-color'>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
        <tr
          *matRowDef='let row; columns: displayedColumns'
          [routerLink]="['/course/', row.id]"
          mat-row
          style='cursor: pointer'
        ></tr>

        <tr *matNoDataRow class='mat-row'>
          <td class='mat-cell' colspan='3'>
            {{('list.data.' + ((searchText|isStringEmpty) ? 'empty' : 'filter'))|translate:{ 'searchText': searchText } }}
          </td>
        </tr>
      </table>

      <mat-paginator
        (page)='loadPage($event)'
        [length]='resultsLength'
        [pageIndex]='pageIndex'
        [pageSizeOptions]='pagination'
        [pageSize]='pageSize'
      ></mat-paginator>
    </div>
  </div>
</div>
