<div class='col-12 px-0'>
  <h4>
    Výber vybavenia
<!--    {{'equipment.selection.label' | translate}}-->
  </h4>
  <form #form='ngForm'
        (ngSubmit)='resetForm(form)'
        [formGroup]='formGroup'
        [formPath]='path'
        appConnectForm
        class='d-flex flex-wrap ms-1'>
    <mat-chip-list class='col-12 mt-2 mat-chip-list-stacked'>
      <mat-chip
        (removed)='remove(facility)'
        *ngFor='let facility of facilities; let i=index'
        [removable]='!readOnly'
        [selectable]='true'
        style="width:auto">
        <div class='d-flex flex-wrap'>
          <span>{{facility.name}}</span>
<!--          <span>{{equipment.name|equipmentTranslate}}</span>-->
          <mat-icon>navigate_next</mat-icon>
          <span>Počet: {{facility.count}}ks</span>
<!--          <span>{{'equipment.selection.count.label'|translate}}: {{facility.count}}ks</span>-->
        </div>
        <mat-icon *ngIf='!readOnly' matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <!-- Výber nového vybavenia-->
    <mat-form-field *ngIf='!readOnly' class='col-12 col-lg-3'>
      <mat-label>{{'equipment.selection.category.label' | translate}}</mat-label>
      <mat-select formControlName='facility'>
        <mat-option *ngFor='let eq of equipments' [value]='eq'>
          {{eq.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
<!--    Zadanie počtu-->
    <mat-form-field *ngIf='!readOnly' class='col-12 col-lg-3'>
      <mat-label>{{'equipment.selection.duration.label' | translate}}</mat-label>
      <input digitOnly formControlName='countF' matInput type='number'>
    </mat-form-field>
    <button (click)='add()' *ngIf='!readOnly' [disabled]='formGroup.invalid' class='px-2' mat-icon-button>
      <mat-icon class='confirm-color' matTooltip="{{'equipment.selection.button.add.tooltip'|translate}}">add</mat-icon>
    </button>
  </form>
</div>
