<div class="col-12">
    <div class="row mr-1 mb-4 pl-3 pr-3 pt-4">
        <mat-card style="width: 400px">
            <mat-card-header>
                <mat-card-title>{{ title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
<!--                <ng-content></ng-content>-->
              <mat-list>
                <mat-list-item *ngFor="let d of data">{{ d }}</mat-list-item>
              </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
