<div class="mt-2">
  <form #form='ngForm' (ngSubmit)='resetForm(form)'
      [formGroup]='formGroup' class='col-12 px-0'>
  <!-- miestnost -->
    <mat-form-field class='col-12 col-lg-4 me-3'>
      <mat-label>
        {{'requirement.room.label'|translate}}
      </mat-label>
      <input
        #trigger='matAutocompleteTrigger'
        [matAutocomplete]='autoRoom'
        [readonly]='readonly'
        formControlName='room'
        matInput
        required
        placeholder="{{'requirement.room.placeholder'|translate}}"
      />
      <button (click)='controls.room.reset()' *ngIf='formData.room' aria-label='Clear' mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #autoRoom='matAutocomplete' [displayWith]='roomDisplay'>
        <mat-option *ngIf='loading' class='loading' disabled fxLayout='column' fxLayoutAlign='space-between center'>
          <mat-spinner class='pt-1' diameter='42'></mat-spinner>
        </mat-option>
        <mat-option *ngIf='filteredRooms?.length === 0 && !loading' disabled>
          {{'requirement.room.filter.empty' | translate}}
        </mat-option>
        <ng-container *ngIf='!loading'>
          <mat-option *ngFor='let room of filteredRooms' [value]='room'>
            <span>{{ room.name }}</span> |
            <small>{{'requirement.room.capacity.label'|translate}}: {{ room.capacity }}</small>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <mat-hint align='end'>
        {{'requirement.room.hint'|translate}}
      </mat-hint>
    </mat-form-field>

    <!-- typy miestnosti -->
    <mat-form-field *ngIf='!readonly' appearance='fill' class='col-12 col-lg-4 me-3'>
      <mat-label>
        {{'requirement.room.type.label'|translate}}
      </mat-label>
      <mat-select
        formControlName='type'
        multiple
      >
        <mat-option *ngFor='let item of roomTypes' [value]='item'>
          {{ item.name | translate }}
        </mat-option>
      </mat-select>
      <button (click)='controls.type.reset()' *ngIf='formData.type' aria-label='Clear' mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field *ngIf='!readonly' appearance='fill' class='col-12 col-lg-1 me-3'>
      <mat-label>
        {{'requirement.room.capacity.min.label'|translate}}
      </mat-label>
      <button (click)='controls.min.reset()' *ngIf='formData.min' aria-label='Clear' mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
      <input digitOnly formControlName='min' matInput>
    </mat-form-field>
    <mat-form-field *ngIf='!readonly' appearance='fill' class='col-12 col-lg-1 me-3'>
      <mat-label>
        {{'requirement.room.capacity.max.label'|translate}}
      </mat-label>
      <button (click)='controls.max.reset()' *ngIf='formData.max' aria-label='Clear' mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
      <input digitOnly formControlName='max' matInput>
    </mat-form-field>
  </form>
</div>
