<div class="wrapper">
	<button class="close" (click)="close()">X</button>

	<app-room-autocomplete
		[room]="room"
		[filteredRooms$]="filteredRooms$"
		[loading$]="loading$"
		(roomSelected)="roomSelected($event)"
	></app-room-autocomplete>

	<button class="ms-3 mb-2" mat-raised-button color="primary" (click)="assignRoom()">
		Priradiť miestnosť
	</button>
	<!-- TODO: pridat priradenie viacerych miestnosti naraz, pre udalost rovnakeho typu a kurzu -->
	<!-- <button class="ms-3" mat-raised-button color="primary" (click)="assignRoom()">
		Priradiť miestnosť viacerým udalostiam naraz
	</button> -->
	<div class="single-row">
		<span>Priradená miestnosť:</span>
		<div>
			<span>{{ event.event.room ? event.event.room.name : null }}</span>
		</div>
	</div>

	<hr />
	<div *ngIf="requirement$ | async">
		<div class="single-row">
			<span>Komentare:</span>
			<div *ngFor="let comment of (requirement$ | async).requirement_comments">
				<div>{{ comment.text }}</div>
			</div>
			<!-- <div>{{ (requirement$ | async).requirement_comments }}</div> -->
		</div>

		<!-- TODO: upravit vypis miestnosti -->
		<div class="single-row">
			<span>Požadované miestnosti:</span>
			<div *ngFor="let room of requestedRooms">
				<div>{{ room }}</div>
			</div>
		</div>

		<!-- <div *ngFor="let activity of (requirement$ | async).requirement_activities">
			<div>{{ activity }}</div>
		</div> -->
	</div>
</div>
