.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem;
	cursor: pointer;
}

.accept {
	background-color: #4caf50;
	color: white;
	padding: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.wrapper {
	position: relative;
	padding: 3rem;
	border-radius: 1rem;
}

.single-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;

	span {
		margin-right: 0.5rem;
		width: 5rem;
	}
	div {
		max-width: 400px;
	}
}
