<div class='col-12'>
  <app-breadcrumbs [names]="[moduleTitle|translate, 'requirement.subtitle' | translate]"></app-breadcrumbs>
  <div class='text-right'>
    <button (click)='back()' color='primary' mat-flat-button>
      <mat-icon>keyboard_backspace</mat-icon>
      {{'button.back'|translate}}
    </button>
  </div>

  <mat-card class='mt-2 mb-5 col-12'>
    <mat-card-header>
      <mat-card-title>{{ 'requirement.title.new' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #form='ngForm'
            (ngSubmit)='resetForm(form)'
            [formGroup]='requirementForm'
             class='px-0 col-12 d-flex flex-wrap'>
        <!-- predmet -->
        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            {{'requirement.subject.name' | translate}}
          </mat-label>
          <input [matAutocomplete]='autoGroup'
                 formControlName='course'
                 matInput
                 required
                 placeholder="{{'requirement.subject.placeholder' | translate}}"
                 type='text'
          />
          <button (click)='resetCourse()' *ngIf='formData.course' aria-label='Clear' mat-icon-button matSuffix>
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete #autoGroup='matAutocomplete'
                            (optionSelected)='courseSelected($event)'
                            [displayWith]='courseDisplay'>
            <mat-option *ngIf='loadingCourses' disabled fxLayout='column' fxLayoutAlign='space-between center'>
              <mat-spinner class='pt-1' diameter='42'></mat-spinner>
            </mat-option>
            <mat-option *ngIf='courseGroupOptions?.length === 0 && !loadingCourses' disabled>
              {{'requirement.subject.filter.empty' | translate}}
            </mat-option>
            <ng-container *ngIf='!loadingCourses'>
              <mat-optgroup
                *ngFor='let group of courseGroupOptions'
                [label]='group.name'
              >
                <mat-option
                  *ngFor='let course of group.courses'
                  [value]='course'
                >
                  {{course.name}} ( {{ course.code }} )
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-autocomplete>
          <mat-error *ngIf="controls.course.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>

        <!-- pocet skupin -->
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-3'>
          <mat-label>
            {{'requirement.groups-num.label' | translate}}
          </mat-label>
          <button (click)='controls.groupsNum.reset()' *ngIf='formData.groupsNum' aria-label='Clear' mat-icon-button
                  matSuffix>
            <mat-icon>close</mat-icon>
          </button>
          <input
            digitOnly
            formControlName='groupsNum'
            inputmode='numeric'
            matInput
            required
            pattern='[0-9]*'
            type='number'
          />
          <mat-error *ngIf="controls.groupsNum.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>

        <!-- pocet studentov -->
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-3'>
          <mat-label>
            {{'requirement.students.label' | translate}}
          </mat-label>
          <button (click)='controls.studentsNum.reset()' *ngIf='formData.studentsNum' aria-label='Clear' mat-icon-button
                  matSuffix>
            <mat-icon>close</mat-icon>
          </button>
          <input
            formControlName='studentsNum'
            matInput
            placeholder='10'
            type='number'
            required
          />
          <mat-hint>
            {{'requirement.students.hint' | translate}}
          </mat-hint>
          <mat-error *ngIf="controls.studentsNum.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>

        <!-- pocet studentov extra -->
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-3'>
          <mat-label>
            {{'requirement.students.extra.label' | translate}}
          </mat-label>
          <button (click)='controls.studentsNumExtra.reset()' *ngIf='formData.studentsNumExtra' aria-label='Clear'
                  mat-icon-button
                  matSuffix>
            <mat-icon>close</mat-icon>
          </button>
          <input
            formControlName='studentsNumExtra'
            matInput
            placeholder='10'
            type='number'
            required
          />
          <mat-hint>
            {{'requirement.students.extra.hint' | translate}}
          </mat-hint>
          <mat-error *ngIf="controls.studentsNumExtra.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>

        <!-- radenie -->
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-3'>
          <mat-label>
            {{'requirement.series.label' | translate}}
          </mat-label>
          <button (click)='controls.maxSeries.reset()' *ngIf='formData.maxSeries' aria-label='Clear' mat-icon-button
                  matSuffix>
            <mat-icon>close</mat-icon>
          </button>
          <input
            [readonly]='false'
            digitOnly
            formControlName='maxSeries'
            inputmode='numeric'
            matInput
            type='number'
            required
          />
          <mat-hint>
            {{'requirement.series.hint' | translate}}
          </mat-hint>
          <mat-error *ngIf="controls.maxSeries.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>

        <!-- paralelizmus -->
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-3'>
          <mat-label>
            {{'requirement.parallel.label' | translate}}
          </mat-label>
          <button (click)='controls.maxParallel.reset()' *ngIf='formData.maxParallel' aria-label='Clear' mat-icon-button
                  matSuffix>
            <mat-icon>close</mat-icon>
          </button>
          <input
            [readonly]='false'
            digitOnly
            formControlName='maxParallel'
            inputmode='numeric'
            matInput
            pattern='[0-9]*'
            type='text'
          />
          <mat-hint>
            {{'requirement.parallel.hint' | translate}}</mat-hint>
        </mat-form-field>

        <!-- Cvicenia -->
        <ng-container *ngIf='activityData.data | hasPractice'>
          <div class='col-12 col-md-3 col-lg-1 mt-2 px-2'>
            <!-- neparny tyzden -->
            <mat-checkbox formControlName='oddWeek'
                          indeterminate='false'
                          labelPosition='after'
            >
              {{'requirement.odd-week.label' | translate}}
            </mat-checkbox>
            <!-- cviko po prednaske -->
            <mat-checkbox formControlName='afterLecture'
                          indeterminate='false'
                          labelPosition='after'
            >
              {{'requirement.after-lecture.label' | translate}}
            </mat-checkbox>
          </div>
        </ng-container>
        <!-- skupiny -->
        <app-group-select #groupSelect
                          (onGroupChange)='handleGroupChange($event)'
                          [data]='groupsData.data'
                          [filtered]='groupsData.filtered'
                          [loading]='groupsData.loading'
                          [readonly]='true'
                          class='col-12 col-lg-2 mt-4'></app-group-select>

        <!-- rozdelenie hodin -->
        <div class='col-12 col-lg-3'>
          <app-activity-selection
            #activitySelection
            (onChange)='handleSplitChange($event)'
            [activities]='activityData.data'
            [allActivityCategories]='activityData.categories'
            [course]='formData.course'
            [forms]='activityData.studyForms'
            class='col-12 px-0 py-0'></app-activity-selection>
          <mat-error *ngIf="controls.split.hasError('minDuration')">
            {{'requirement.validation.minDuration'|translate}}
          </mat-error>
          <mat-error *ngIf="controls.maxSeries.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>

        </div>
        <!-- vyber ucitela -->
        <div class='col-12 col-lg-5'>
          <app-teacher-select
            #teacherSelect
            (onTeacherChange)='handleTeacherChange($event)'
            (onDataChange)='handleTeacherDataChange($event)'
            [data]='teacherData.data'
            [filteredTeachers]='teacherData.filtered'
            [loading]='teacherData.loading'
            [readonly]='false'
            [teacherTypes]='teacherData.types'
            class='col-12 px-0 py-0'
          ></app-teacher-select>
          <mat-error *ngIf="controls.teachers.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </div>

        <!-- sprava -->
        <mat-form-field class='col-12 col-lg-3 me-3'>
          <mat-label>
            {{'requirement.message.label' | translate}}
          </mat-label>
          <button (click)='controls.message.reset()' *ngIf='formData.message' aria-label='Clear' mat-icon-button
                  matSuffix>
            <mat-icon>close</mat-icon>
          </button>
          <textarea
            #autosize='cdkTextareaAutosize'
            (keyup)='triggerResize()'
            cdkAutosizeMaxRows='15'
            cdkAutosizeMinRows='2'
            cdkTextareaAutosize
            formControlName='message'
            matInput
            placeholder="{{'requirement.message.placeholder' | translate}}"
          ></textarea>
          <mat-error
            *ngIf="requirementForm.controls['message'].hasError('required')"
          >
            {{'form.required' | translate}}
          </mat-error>
        </mat-form-field>

        <!-- miestnost, cas -->
        <mat-tab-group animationDuration='0ms' class='col-12 py-2'>
          <mat-tab *ngFor='let tab of activities' class='col-12 px-0'>
            <ng-template mat-tab-label>{{tab.category | categoryTranslate}}</ng-template>
            <div class='col-12 mt-3 d-flex flex-wrap justify-content-between'>
              <div class='col-12'>
                <app-time-picker
                  [label]='tab.category'
                  [readonly]='false'
                ></app-time-picker>
              </div>
              <div class='col-12 col-lg-10'>
                <app-room-selection (onFilterChange)='handleRoomFilterChange($event)'
                                    [filteredRooms]='roomData.filtered'
                                    [label]='tab.category'
                                    [loading]='roomData.loading'
                                    [roomTypes]='roomData.types'
                ></app-room-selection>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <mat-action-list>
        <button
          (click)='onRequirementCancel()'
          [matTooltip]="'requirement.button.cancel.tooltip'|translate"
          mat-flat-button
          type='button'
        >
          <mat-icon color='warn'>close</mat-icon>
          <span class='ml-2'>
            {{'button.cancel'|translate}}
          </span>
        </button>

        <button
          (click)='submit()'
          [matTooltip]="'requirement.button.submit.tooltip'|translate"
          class='ml-1'
          mat-flat-button
          [disabled]='requirementForm.invalid'
          type='submit'
        >
          <mat-icon color='primary'>send</mat-icon>
          <span class='ml-2'>
            {{'button.submit'|translate}}
          </span>
        </button>
      </mat-action-list>

    </mat-card-actions>
  </mat-card>
</div>
