<ng-container
  *ngIf='{
        loggedIn: (data$ | async).loggedIn,
        lang: (data$ | async).lang,
        menuItems: (data$ | async).menuItems,
        version: (data$ | async).version,
        scheme: (data$ | async).scheme,
        token: (data$ | async).token
      } as data'
>
  <mat-toolbar color='primary' fxLayout='row'>
    <button (click)='openHome()' [autofocus]='false' mat-button>
      <span>{{ title }}</span>
    </button>
    <span fxFlex></span>
    <button
      (click)='navigate(item)'
      *ngFor='let item of data.menuItems'
      [fxShow.sm]='item.showOnMedium'
      [fxShow.xs]='item.showOnSmall'
      [fxShow]='item.showOnLarge'
      mat-button>
      <mat-icon
        *ngIf='hasBadge(item); else req'
        [matBadge]='getBadges(item)'
        class='mr-2'
        matBadgeColor='warn'>
        {{ item.icon }}
      </mat-icon>
      <ng-template #req>
        <mat-icon class='mr-1'>{{ item.icon }}</mat-icon>
      </ng-template>
      {{ item.label |translate }}
    </button>

    <button (click)='chooseScheme()' *ngIf='data.loggedIn' mat-button>
      <mat-icon>schema</mat-icon>
      {{ data.scheme.name | schemaTranslate }}
    </button>

    <ng-container>
      <button [matMenuTriggerFor]='languageMenu' mat-button>
        <flag-icon [country]='data.lang | flag'></flag-icon>
      </button>
      <mat-menu #languageMenu='matMenu'>
        <button (click)='changeLanguage(language.value)' *ngFor='let language of languages' mat-menu-item>
          <flag-icon [country]='language.value | flag'></flag-icon>
          <span class='px-2'>{{language.name}}</span>
        </button>
      </mat-menu>
    </ng-container>

    <ng-container *ngIf='data.loggedIn; else ref'>
      <button [matMenuTriggerFor]='dropMenu' mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #dropMenu='matMenu'>
        <ng-container *ngFor='let item of data.menuItems'>
          <div
            [fxShow.sm]='!item.showOnMedium'
            [fxShow.xs]='!item.showOnSmall'
            [fxShow]='!item.showOnLarge'
          >
            <button mat-menu-item>
              <mat-icon class='me-1'>{{ item.icon }}</mat-icon>
              {{ item.label | translate }}
            </button>
            <mat-divider></mat-divider>
          </div>
        </ng-container>

        <div>
          <button (click)='showUser()' *ngIf='data.loggedIn' mat-menu-item>
            <mat-icon>perm_identity</mat-icon>
            {{ data.token.name }}
          </button>
          <mat-divider></mat-divider>
        </div>

        <div>
          <div mat-menu-item (click) = "$event.stopPropagation()">
            <mat-icon class="me-1">brightness_5</mat-icon>
            Nočná téma
  <!--          {{'page.nightmode'|translate}}-->
            <mat-slide-toggle [formControl]="nightModeControl" class="ms-1 me-1">
            </mat-slide-toggle>
          </div>
          <mat-divider></mat-divider>
        </div>

        <div>
          <button (click)='openSettings()' mat-menu-item>
            <mat-icon class='me-1'>settings</mat-icon>
            {{'settings.title'|translate}}
          </button>
          <mat-divider></mat-divider>
        </div>

        <div>
          <button mat-menu-item>
            <mat-icon class='me-1'>memory</mat-icon>
            <span>{{'version.text'|translate: { 'version': data.version } }}</span>
          </button>
          <mat-divider></mat-divider>
        </div>

        <div>
          <button (click)='logOut()' mat-menu-item>
            <mat-icon class='me-1'>power_settings_new</mat-icon>
            {{'login.logout'|translate}}
          </button>
          <mat-divider></mat-divider>
        </div>
      </mat-menu>
    </ng-container>
    <ng-template #ref>
      <button mat-button>
        <mat-icon class='me-1'>memory</mat-icon>
        <span>{{'version.text'|translate: { 'version': data.version } }}</span>
      </button>
    </ng-template>
  </mat-toolbar>
</ng-container>
