<div class='col-12 px-0'>
  <h4>{{'requirement.split.label' | translate}}</h4>
  <form #form='ngForm'
        (ngSubmit)='resetForm(form)'
        [formGroup]='formGroup'
        [formPath]='path'
        appConnectForm
        class='d-flex flex-wrap ms-1'>
    <mat-chip-list class='col-12 mt-2 mat-chip-list-stacked'>
      <mat-chip
        (removed)='remove(activity)'
        *ngFor='let activity of activities; let i=index'
        [removable]='!readOnly'
        [selectable]='true'
        style="width:auto">
        <div class='d-flex flex-wrap'>
          <span>{{activity.category|categoryTranslate}}</span>
          <mat-icon>navigate_next</mat-icon>
          <span>{{'requirement.split.duration.label'|translate}}: {{activity.duration}}h</span>
        </div>
        <mat-icon *ngIf='!readOnly' matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
<!-- Výber novej aktivity-->
    <mat-form-field *ngIf='!readOnly' class='col-12 col-lg-3'>
      <mat-label>{{'requirement.split.category.label' | translate}}</mat-label>
      <mat-select formControlName='type'>
        <mat-option *ngFor='let category of categories' [value]='category'>
          {{category | categoryTranslate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
<!-- Zadanie časového trvania v hodinách-->
    <mat-form-field *ngIf='!readOnly' class='col-12 col-lg-3'>
      <mat-label>{{'requirement.split.duration.label' | translate}}</mat-label>
      <input digitOnly formControlName='duration' matInput type='text'>
    </mat-form-field>
<!--  Tlačidlo na pridanie novej aktivity-->
    <button (click)='add()' *ngIf='!readOnly' [disabled]='formGroup.invalid' class='px-2' mat-icon-button>
      <mat-icon class='confirm-color' matTooltip="{{'requirement.split.button.add.tooltip'|translate}}">add</mat-icon>
    </button>
  </form>
</div>
<!--TODO: pridať checkboxy na denné/ext. štúdium-->
