<div fxLayout="row" fxLayoutAlign="center">
    <mat-card class="col-4" style="justify-content: center">
        <mat-card-header>
            <mat-card-title>{{'error.title' | translate}} </mat-card-title>
        </mat-card-header>
        <mat-card-content>{{'error.redirect' | translate}} </mat-card-content>
    </mat-card>
</div>
