<mat-form-field class="col-12 me-3">
	<mat-label>
		{{ 'requirement.room.label' | translate }}
	</mat-label>
	<input
		#trigger="matAutocompleteTrigger"
		[matAutocomplete]="autoRoom"
		[formControl]="room"
		matInput
		placeholder="{{ 'requirement.room.placeholder' | translate }}"
	/>
	<button (click)="reset()" *ngIf="room" aria-label="Clear" mat-icon-button matSuffix>
		<mat-icon>close</mat-icon>
	</button>
	<mat-autocomplete #autoRoom="matAutocomplete" (optionSelected)="selectRoom($event)">
		<mat-option
			*ngIf="loading$ | async"
			class="loading"
			disabled
			fxLayout="column"
			fxLayoutAlign="space-between center"
		>
			<mat-spinner class="pt-1" diameter="42"></mat-spinner>
		</mat-option>
		<mat-option
			*ngIf="(filteredRooms$ | async).length === 0 && !(loading$ | async)"
			disabled
		>
			{{ 'requirement.room.filter.empty' | translate }}
		</mat-option>
		<ng-container *ngIf="!(loading$ | async)">
			<mat-option *ngFor="let room of filteredRooms$ | async" [value]="room">
				<span>{{ room.name }}</span> |
				<small
					>{{ 'requirement.room.capacity.label' | translate }}: {{ room.capacity }}</small
				>
			</mat-option>
		</ng-container>
	</mat-autocomplete>
	<mat-hint align="end">
		{{ 'requirement.room.hint' | translate }}
	</mat-hint>
</mat-form-field>
