.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem;
	cursor: pointer;
}

.accept {
	background-color: #4caf50;
	color: white;
	padding: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.wrapper {
	position: relative;
	padding: 3rem;
	border-radius: 1rem;
}
