<div class="wrapper">
	<button class="close" (click)="close()">X</button>
	<div *ngFor="let collision of data.collisions$ | async" class="card p-3 mb-1">
		<div class="row">
			<span>Typ kolízie: {{ collision.type }}</span>
		</div>
		<div class="row">
			<span>Kolízia nastala na objekte: {{ collision.conflict_object_name }}</span>
		</div>
		<div class="row">
			<span
				>Medzi udalosťami: <b>{{ collision.first_event.activity.course_code }}</b> a
				<b>{{ collision.second_event.activity.course_code }}</b></span
			>
		</div>
		<button
			class="ms-3 mt-1"
			mat-raised-button
			color="primary"
			(click)="toggle(collision)"
		>
			{{ collision.status === 'Warning' ? 'Vrátiť kolíziu späť' : 'Akceptovať kolíziu' }}
		</button>
	</div>
</div>
