<form [formGroup]="formGroup">
	<div class="filter-row">
		<app-timetable-filter-item
			[isLoading]="isLoading$ | async"
			[control]="formGroup.controls.faculties"
			[options$]="faculties$"
			label="Fakulta"
		></app-timetable-filter-item>
		<app-timetable-filter-item
			[isLoading]="isLoading$ | async"
			[control]="formGroup.controls.studyPlans"
			[options$]="studyPlans$"
			label="Zameranie"
		></app-timetable-filter-item>
		<app-timetable-filter-item
			[isLoading]="isLoading$ | async"
			[control]="formGroup.controls.studyYears"
			[options$]="studyYears$"
			label="Ročník"
		></app-timetable-filter-item>
		<app-timetable-filter-item
			[isLoading]="isLoading$ | async"
			[control]="formGroup.controls.specializations"
			[options$]="specializations$"
			label="Špecializácia"
		></app-timetable-filter-item>
		<app-timetable-filter-item
			[isLoading]="isLoadingCategories$ | async"
			[control]="formGroup.controls.timetableEvents"
			[options$]="timetableEvents$"
			label="Typ udalosti"
		></app-timetable-filter-item>
	</div>
	<div class="row">
		<app-room-autocomplete
			[room]="room"
			[filteredRooms$]="filteredRooms$"
			[loading$]="loading$"
			(roomSelected)="roomSelected($event)"
		></app-room-autocomplete>
	</div>
</form>
