<div class='col-12'>
  <div class='row col-12'>
    <div class='col-10 text-left'>
      <mat-form-field appearance='fill'>
        <mat-label>{{'list.filter.label'|translate}}</mat-label>
        <input
          #input
          (keyup)='applyFilter(input.value)'
          [(ngModel)]='searchText'
          matInput
          placeholder="{{'department.list.filter.placeholder'|translate}}"
        /><button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')">
        <mat-icon>close</mat-icon>
      </button>
      </mat-form-field>
    </div>
    <div class='col-2 text-right'>
      <button (click)='refresh()' class='px-0 py-0' color='primary' mat-icon-button>
        <mat-icon [ngClass]="isLoading ? 'spin' : ''" matTooltip="{{'list.refresh'|translate}}">loop</mat-icon>
      </button>
    </div>
  </div>

  <div class='col-12'>
    <div *ngIf='isLoading' class='table-loading-shade'>
      <mat-spinner></mat-spinner>
    </div>
    <div class='mat-elevation-z8'>
      <table [dataSource]='dataSource' aria-label='Table of departments' mat-table matSort>
        <ng-container matColumnDef='id'>
          <th *matHeaderCellDef id='id' mat-header-cell mat-sort-header>ID</th>
          <td *matCellDef='let row' mat-cell>{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef='name'>
          <th *matHeaderCellDef id='name' mat-header-cell mat-sort-header>
            {{'department.list.name'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row.name }}</td>
        </ng-container>

        <ng-container matColumnDef='abbr'>
          <th *matHeaderCellDef id='shortname' mat-header-cell mat-sort-header>
            {{'department.list.abbr'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row.abbr }}</td>
        </ng-container>

        <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
        <tr
          *matRowDef='let row; columns: displayedColumns'
          [routerLink]="['/department/', row.id]"
          mat-row
          style='cursor: pointer'
        ></tr>

        <tr *matNoDataRow class='mat-row'>
          <td class='mat-cell' colspan='3'>
            {{('list.data.' + ((searchText|isStringEmpty) ? 'empty' : 'filter'))|translate:{ 'searchText': searchText } }}
          </td>
        </tr>
      </table>

      <mat-paginator
        (page)='loadPage($event)'
        [length]='resultsLength'
        [pageIndex]='pageIndex'
        [pageSizeOptions]='pagination'
        [pageSize]='pageSize'
      ></mat-paginator>
    </div>
  </div>
</div>
