<div *ngIf='isLoading' class='table-loading-shade'>
  <mat-spinner></mat-spinner>
</div>
<mat-table
  [dataSource]='dataSource'
  matSort>

  <ng-container matColumnDef='username'>
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{'teacher.table.username'|translate }}
    </mat-header-cell>

    <mat-cell *matCellDef='let row'>
      {{ row.user.username }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef='name'>
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{'teacher.table.fullname'|translate }}
    </mat-header-cell>

    <mat-cell *matCellDef='let row'>
      {{ row.user | fullname }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef='role'>
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{'teacher.table.role'|translate }}
    </mat-header-cell>

    <mat-cell *matCellDef='let row'>
      {{ row.roles | teacherTypeList}}
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef='displayedColumns'
  ></mat-header-row>

  <mat-row
    *matRowDef='let subjectUser; columns: displayedColumns'
    [routerLink]="['/user/', subjectUser.user.id]"
  ></mat-row>

  <!-- Row shown when there is no matching data. -->
  <tr *matNoDataRow class='mat-row'>
    <td class='mat-cell'>
      {{'list.data.empty'|translate }}
    </td>
  </tr>
</mat-table>

<mat-paginator
  (page)='loadPage($event)'
  [length]='resultsLength'
  [pageIndex]='pageIndex'
  [pageSizeOptions]='pagination'
  [pageSize]='pageSize'
></mat-paginator>
