<div *ngIf='isLoading' class='table-loading-shade'>
  <mat-spinner></mat-spinner>
</div>
<mat-table
  [dataSource]='dataSource'
  matSort>

  <ng-container matColumnDef='username'>
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{'user.detail.username'|translate }}
    </mat-header-cell>

    <mat-cell *matCellDef='let row'>
      {{ row.username }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef='name'>
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{'user.detail.fullname'|translate }}
    </mat-header-cell>

    <mat-cell *matCellDef='let row'>
      {{ row | fullname }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef='type'>
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{'user.detail.employment.label'|translate }}
    </mat-header-cell>

    <mat-cell *matCellDef='let row'>
      {{ row.employment | employment | translate }}
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef='displayedColumns'
  ></mat-header-row>

  <mat-row
    *matRowDef='let user; columns: displayedColumns'
    [routerLink]="['/user/', user.id]"
  ></mat-row>

  <!-- Row shown when there is no matching data. -->
  <tr *matNoDataRow class='mat-row'>
    <td class='mat-cell' colspan='5'>
      {{'list.data.empty'|translate }}
    </td>
  </tr>
</mat-table>

<mat-paginator
  (page)='loadPage($event)'
  [length]='resultsLength'
  [pageIndex]='pageIndex'
  [pageSizeOptions]='pagination'
  [pageSize]='pageSize'
></mat-paginator>
