<div class="row me-1 mb-4 ps-3 pe-3">
	<div class="col-12">
		<div class="d-flex align-items-center">
			<mat-form-field appearance="fill" class="me-1 ms-1">
				<mat-label>Rozvrh</mat-label>
				<!--          <mat-label>{{'timetable.search.selectTT.label'|translate}}</mat-label>-->
				<mat-select
					placeholder="Rozvrh"
					[(ngModel)]="selectedTimetable"
					(ngModelChange)="timetableModelChange($event)"
				>
					<mat-option *ngFor="let tt of timetablesList$ | async" [value]="tt">{{
						tt.name
					}}</mat-option>
				</mat-select>
			</mat-form-field>

			<button
				mat-mini-fab
				color="primary"
				type="button"
				(click)="this.showCreateTC = !this.showCreateTC"
			>
				<mat-icon>add</mat-icon>
			</button>
			<div *ngIf="this.showCreateTC">
				<span class="ms-3">
					<mat-form-field>
						<input matInput type="text" [(ngModel)]="nameOfNewTimetable" />
					</mat-form-field>
				</span>
				<span *ngIf="selectedTimetable != null">
					<button
						class="ms-3"
						mat-raised-button
						color="primary"
						(click)="addTimetableFrom()"
					>
						Odvodiť rozvrh od vybraného
					</button>
				</span>
				<!--pridanie nového rozvrhu-->
				<span>
					<button class="ms-3" mat-raised-button color="primary" (click)="addTimetable()">
						Pridať nový rozvrh
					</button>
				</span>
			</div>
		</div>
	</div>
</div>
