<div>
	<h3>{{ label }}</h3>
	<div *ngIf="isLoading">
		<mat-spinner></mat-spinner>
	</div>
	<mat-selection-list [formControl]="control" class="scrollable">
		<mat-list-option *ngFor="let element of options$ | async" [value]="element.id">
			{{ element.abbr ? element.abbr : element.name }}
		</mat-list-option>
	</mat-selection-list>
</div>
