<div class='col-12 px-0'>
  <mat-list class='col-12 px-1'>
    <ng-container *ngIf='selectedTeachers.length > 0'>
      <mat-list-item>
        <span class='col-5'>{{'requirement.teachers.name' | translate}}</span>
        <span class='ml-2 col-5'>{{'requirement.teachers.position' | translate}}</span>
        <mat-divider></mat-divider>
      </mat-list-item>
    </ng-container>
    <ng-container *ngFor='let t of selectedTeachers'>
      <mat-list-item style='height: 50px'>
        <span class='col-5'>{{ t.user | fullname }}</span>
        <span class='ml-2 col-5'>{{ t.roles | teacherTypeList }}</span>
        <button
          (click)='deleteTeacher(t.user.id)'
          *ngIf='!readonly'
          class='ml-2'
          mat-icon-button
        >
          <mat-icon color='warn'>delete</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </ng-container>
  </mat-list>

  <form #form='ngForm' (ngSubmit)='resetForm(form)' *ngIf='!readonly'
        [formGroup]='formGroup'
        [formPath]='path'
        appConnectForm
        class='row mt-3'>
    <!-- ucitel -->
    <mat-form-field class='col-6'>
      <mat-label>{{'requirement.teachers.person.label' | translate}}</mat-label>
      <input
        [matAutocomplete]='autoTeacher'
        formControlName='teacher'
        matInput
        placeholder="{{'requirement.teachers.person.placeholder' | translate}}"
        type='text'
      />
      <mat-autocomplete #autoTeacher='matAutocomplete' [displayWith]='displayFn'>
        <!-- If we're loading -->
        <mat-option *ngIf='loading' disabled fxLayout='column' fxLayoutAlign='space-between center'>
          <mat-spinner class='pt-1' diameter='42'></mat-spinner>
        </mat-option>
        <!-- If we're not loading AND the array length is 0, show this -->
        <mat-option *ngIf='filteredTeachers?.length === 0 && !loading' disabled>
          {{'requirement.teachers.filter.empty' | translate}}
        </mat-option>
        <ng-container *ngIf='!loading'>
          <mat-option *ngFor='let t of filteredTeachers' [value]='t'>
            <span>{{ t |fullname }}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
      <mat-error *ngIf="controls.teacher.hasError('required')">
        {{'form.required'|translate}}
      </mat-error>
    </mat-form-field>

    <!-- typ ucitela -->
    <mat-form-field class='col-5'>
      <mat-label>{{'requirement.teachers.type.label' | translate}}</mat-label>
      <mat-select formControlName='teacherType' multiple>
        <mat-option *ngFor='let type of teacherTypes' [value]='type'>
          {{ 'user.type.' + type.name | translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="controls.teacherType.hasError('required')">
        {{'form.required'|translate}}
      </mat-error>
    </mat-form-field>

    <button (click)='addTeacher()' [disabled]='formGroup.invalid' mat-mini-fab type='submit'>
      <mat-icon>add</mat-icon>
    </button>
  </form>
</div>
