/* You can add global styles to this file, and also import other style files */
$confirm-color: #11aa11;
$decline-color: #aa1111;

// ANGULAR THEMING - light and dark theme - must be first due to loading
@use 'node_modules/@angular/material' as mat;
@import "node_modules/@angular/material/theming";
@include mat.core();

$warn: mat.define-palette(mat.$red-palette);

$light-primary: mat.define-palette(mat.$deep-purple-palette);
$light-accent: mat.define-palette(mat.$amber-palette);
$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $warn
  )
));

$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $warn
  )
));

@include mat.all-component-colors($light-theme);
.darkMode {
  @include mat.all-component-colors($dark-theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

table {
  width: 100%;
}

.table-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-select {
  overflow: initial;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg)
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.confirm-color {
  color: $confirm-color;
}

.decline-color {
  color: $decline-color;
}

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
