<mat-card>
  <mat-card-actions align='end'>
    <button (click)='refresh()' color='primary' mat-icon-button>
      <mat-icon [ngClass]="isLoading ? 'spin' : ''" matTooltip="{{'list.refresh'|translate}}">loop</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-header>
    <mat-card-title>{{'period.list.title'|translate}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field appearance='fill'>
      <mat-label>{{'list.filter.label'|translate}}</mat-label>
      <input
        #input
        (keyup)='applyFilter(input.value)'
        [(ngModel)]='searchText'
        matInput
        placeholder="{{'period.list.filter.placeholder'|translate}}"
      />
      <button (click)="applyFilter('')" *ngIf='input.value' aria-label='Clear' mat-button mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <table [dataSource]='dataSource' aria-label='Table' mat-table matSort>
      <ng-container matColumnDef='select'>
        <th *matHeaderCellDef id='selection' mat-header-cell>
        </th>
        <td *matCellDef='let row' mat-cell>
          <mat-checkbox (change)='$event ? selection.toggle(row) : null'
                        (click)='$event.stopPropagation()'
                        [checked]='selection.isSelected(row)'>
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef='id'>
        <th *matHeaderCellDef id='id' mat-header-cell mat-sort-header>ID</th>
        <td *matCellDef='let row' mat-cell>{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef='name'>
        <th *matHeaderCellDef id='name' mat-header-cell mat-sort-header>
          {{'period.list.name'|translate}}
        </th>
        <td *matCellDef='let row' mat-cell>{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef='startDate'>
        <th *matHeaderCellDef id='startDate' mat-header-cell mat-sort-header>
          {{'period.list.date.start'|translate}}
        </th>
        <td *matCellDef='let row' mat-cell>
          {{row.start_date | date}}
        </td>
      </ng-container>

      <ng-container matColumnDef='endDate'>
        <th *matHeaderCellDef id='endDate' mat-header-cell mat-sort-header>
          {{'period.list.date.end'|translate}}
        </th>
        <td *matCellDef='let row' mat-cell>
          {{row.end_date | date}}
        </td>
      </ng-container>

      <ng-container matColumnDef='active'>
        <th *matHeaderCellDef id='active' mat-header-cell mat-sort-header>
          {{'period.list.active'|translate}}
        </th>
        <td *matCellDef='let row' mat-cell>
          <mat-icon class='{{row.active|booleanIconClass}}'>{{row.active|booleanIcon}}</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef='department'>
        <th *matHeaderCellDef id='department' mat-header-cell mat-sort-header>
          {{'period.list.department'|translate}}
        </th>
        <td *matCellDef='let row' mat-cell>{{ row.departmentData | departmentName }}</td>
      </ng-container>

      <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
      <tr *matRowDef='let row; columns: displayedColumns' mat-row></tr>

      <tr *matNoDataRow class='mat-row'>
        <td class='mat-cell' colspan='3'>
          {{'list.data.empty'|translate}}
        </td>
      </tr>
    </table>
  </mat-card-content>

  <mat-card-footer>
    <mat-paginator
      (page)='loadPage($event)'
      [length]='resultsLength'
      [pageIndex]='pageIndex'
      [pageSizeOptions]='pagination'
      [pageSize]='pageSize'
    ></mat-paginator>
  </mat-card-footer>

</mat-card>

