<div class='col-12'>
  <app-breadcrumbs [names]='[moduleTitle | translate, data.name]'></app-breadcrumbs>
  <div class='text-right'>
    <button (click)='back(moduleId)' class='' color='primary' mat-flat-button>
      <mat-icon>keyboard_backspace</mat-icon>
      {{'button.back'|translate}}
    </button>
  </div>

  <mat-card class='mt-2'>
    <mat-card-header></mat-card-header>
    <mat-card-content>
      <div class='col-12'>
        <div class='row'>
          <div class='col-12'>

          </div>
        </div>
        <div class='row'>
          <div class='col-lg-6 col-sm-12'>
            <h3>{{'event.title'|translate }}</h3>
            <!-- todo: event table component -->
          </div>

          <div class='col-lg-6 col-sm-12'>
            <h3>{{'department.detail.employees.title'|translate }}</h3>
            <app-user-department-table
            [pagination]='pagination'
            [resultsLength]='usersLength'
            [data]='userData'
            [isLoading]='userLoading'
            (onFilterChange)='userFilterChange($event)'
            ></app-user-department-table>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
