<form #form='ngForm' (ngSubmit)='resetForm(form)'
      [formGroup]='formGroup'
      [formPath]='path'
      appConnectForm
      class='col-12 px-0'>
  <mat-form-field class='col-12'>
    <mat-label>
      {{'requirement.groups.label' | translate}}
    </mat-label>
    <mat-chip-list
      #chipList
      (cdkDropListDropped)='dropGroupChip($event)'
      cdkDropList
      cdkDropListOrientation='horizontal'
    >
      <mat-chip
        (removed)='removeGroup(group)'
        *ngFor='let group of selectedGroups'
        [removable]='!readonly'
        [selectable]='true'
        cdkDrag
      >
        {{ group.abbr }}
        <mat-icon matChipRemove *ngIf='!readonly'>cancel</mat-icon>
      </mat-chip>
      <input
        [matAutocomplete]='autoGroups'
        [matChipInputFor]='chipList'
        [readonly]='readonly'
        formControlName='groups'
        matInput
        placeholder="{{'requirement.groups.placeholder' | translate}}"
      />
    </mat-chip-list>
    <mat-autocomplete
      #autoGroups='matAutocomplete'
      (optionSelected)='selectedGroup($event,form)'
    >
      <mat-option *ngIf='loading' disabled fxLayout='column' fxLayoutAlign='space-between center'>
        <mat-spinner class='pt-1' diameter='42'></mat-spinner>
      </mat-option>
      <mat-option *ngIf='filtered?.length === 0 && !loading' disabled>
        {{'requirement.groups.filter.empty' | translate}}
      </mat-option>
      <mat-option
        *ngFor='let group of filtered'
        [value]='group'
      >
        <span>{{ group | viewGroup }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
