<ng-container *ngIf='settings$ | async as settings'>
  <div class='col-12'>
    <div class='row mr-1 mb-4 pl-3 pr-3 pt-4'>
      <mat-accordion class='col-12' multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{'settings.visual.title'|translate}} </mat-panel-title>
            <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <mat-form-field appearance='fill'>
              <mat-label>{{'settings.language.label'|translate}}</mat-label>
              <mat-select [(value)]='settings.language'>
                <mat-option value='sk'>Slovencina</mat-option>
                <mat-option value='en'>English</mat-option>
                <mat-option value='en'>Česky</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{'settings.pop.title'|translate}}
            </mat-panel-title>
            <mat-panel-description>
              {{'settings.pop.desc'|translate}}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <mat-form-field>
              <mat-label>{{'settings.pop.interval.label'|translate}}</mat-label>
              <input
                type='text'
                digitOnly
                decimalSeparator="."
                min='0'
                matInput
                [value]="settings.notificationInterval + ''"
              />
              <span matSuffix>s</span>
            </mat-form-field>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</ng-container>
