<div class='col-12'>
  <div class='row col-12'>
    <div class='col-9 text-left'>
      <mat-form-field appearance='fill'>

        <mat-label>{{'list.filter.label'|translate}}</mat-label>
        <input
          #input
          (keyup)='applyFilter(input.value)'
          [(ngModel)]='searchText'
          aria-label='filter'
          matInput
          placeholder="{{'requirement.list.filter.placeholder'|translate}}"
        />
        <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class='col-3' style="align-self: center">
      <button
        (click)='uploadFile.click()'
        class='me-2 mb-2'
        color='primary'
        mat-flat-button
      >
        <input #uploadFile type='file' style="display:none" (change)="handle($event)">
        <mat-icon>upload</mat-icon>
        Vložiť požiadavky
<!--        {{'requirement.button.loadRequirements'|translate}}-->
      </button>
      <button
        (click)='newRequirement()'
        class='mb-2'
        color='primary'
        mat-flat-button
      >
        <mat-icon>add</mat-icon>
        {{'requirement.button.add'|translate}}
      </button>
      <button (click)='refresh()' class='px-0 py-0' color='primary' mat-icon-button>
        <mat-icon [ngClass]="isLoading ? 'spin' : ''" matTooltip="{{'list.refresh'|translate}}">loop</mat-icon>
      </button>
    </div>
  </div>

  <div class='col-12'>
    <div *ngIf='isLoading' class='table-loading-shade'>
      <mat-spinner></mat-spinner>
    </div>
    <div class='mat-elevation-z8'>
      <table [dataSource]='dataSource' aria-label='table' mat-table matSort>
        <ng-container matColumnDef='createdBy'>
          <th *matHeaderCellDef id='creat' mat-header-cell mat-sort-header>
            {{'requirement.list.creator'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>
            {{ row.created_by | fullname }}
          </td>
        </ng-container>

        <ng-container matColumnDef='course'>
          <th *matHeaderCellDef id='course' mat-header-cell mat-sort-header>
            {{'requirement.list.subject.name'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row.course.name }}</td>
        </ng-container>

        <ng-container matColumnDef='code'>
          <th *matHeaderCellDef id='cid' mat-header-cell mat-sort-header>
            {{'requirement.list.subject.code' | translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row.course.code }}</td>
        </ng-container>

        <ng-container matColumnDef='status'>
          <th *matHeaderCellDef id='state' mat-header-cell mat-sort-header>
            {{'requirement.list.state' | translate}}
          </th>
          <td *matCellDef='let row' class='align-content-end' mat-cell>
            <mat-icon [style.color]='row.state | statusIconColor'>
              {{ row.state | statusIcon }}
            </mat-icon>
            <span class='ms-2'>
              {{ row.state | status | translate }}
              </span>
          </td>
        </ng-container>

        <ng-container matColumnDef='teacher'>
          <th *matHeaderCellDef id='teach' mat-header-cell mat-sort-header>
            {{'requirement.list.teachers'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>
            {{ row.requirement_teachers | teacherFilter:3 }}
          </td>
        </ng-container>

        <ng-container matColumnDef='guarantor'>
          <th *matHeaderCellDef id='gar' mat-header-cell mat-sort-header>
            {{'requirement.list.guarantor'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>
            {{ row.requirement_teachers | teacherFilter:2 }}
          </td>
        </ng-container>

        <ng-container matColumnDef='forDepartment'>
          <th *matHeaderCellDef id='dep' mat-header-cell mat-sort-header>
            {{'requirement.list.department'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>
            {{ row.department | departmentName }}
          </td>
        </ng-container>

        <ng-container matColumnDef='btn'>
          <th *matHeaderCellDef id='btn' mat-header-cell mat-sort-header>
          </th>
          <td *matCellDef='let row' mat-cell>
            <button mat-icon-button matTooltip="{{'requirement-list.btn.edit'|translate}}"
                    (click)='editRequirement($event, row);'>
              <mat-icon class='decline-color'>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="{{'requirement-list.btn.delete'|translate}}"
                    (click)='deleteItem($event, row);'>
              <mat-icon class='decline-color'>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
        <tr
          *matRowDef='let row; columns: displayedColumns'
          [routerLink]="['/requirement/', row.id]"
          mat-row
          style='cursor: pointer'
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr *matNoDataRow class='mat-row'>
          <td class='mat-cell' colspan='4'>
            {{('list.data.' + ((searchText|isStringEmpty) ? 'empty' : 'filter'))|translate:{ 'searchText': searchText } }}
          </td>
        </tr>
      </table>

      <mat-paginator (page)='loadPage($event)'
                     [length]='resultsLength'
                     [pageIndex]='pageIndex'
                     [pageSizeOptions]='pagination'
                     [pageSize]='pageSize'></mat-paginator>
    </div>
  </div>
</div>
