<div class='col-12'>
  <app-breadcrumbs [names]='[moduleTitle|translate, data.name]'></app-breadcrumbs>
  <div class='text-right'>
    <button (click)='back(moduleId)' class='' color='primary' mat-flat-button>
      <mat-icon>keyboard_backspace</mat-icon>
      {{'button.back'|translate}}
    </button>
  </div>

  <mat-card class='mt-2'>
    <mat-card-header>
      <mat-card-subtitle>{{'course.detail.title'|translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class='row'>
        <div class='col-12'>
          <mat-form-field class='col-3 mr-2'>
              <mat-label> {{'course.detail.code'|translate}}</mat-label>
              <input [value]='data.code' matInput readonly />
          </mat-form-field>

          <mat-form-field class='mr-2 col-3'>
              <mat-label> {{'course.detail.name'|translate}}</mat-label>
              <input [value]='data.name' matInput readonly />
          </mat-form-field>

          <mat-form-field class='mr-2 col-3'>
              <mat-label> {{'course.detail.completion'|translate}}</mat-label>
              <input [value]='data.completion' matInput readonly />
          </mat-form-field>
        </div>
      </div>

      <div class='row mt-2'>
        <div class='col-6'>
          <h3>{{'course.detail.department'|translate}}</h3>
          <div class='row ml-1'>
            <mat-form-field class='mr-2 col-8'>
                <mat-label> {{'course.detail.name'|translate}}</mat-label>
                <input [value]='department | departmentName' matInput readonly />
            </mat-form-field>
          </div>
        </div>

        <div class='col-6'>
          <h3>{{'course.detail.teacher'|translate}}</h3>
          <mat-form-field class='col-12 mr-1'>
            <mat-label> {{'user.detail.fullname'|translate }}</mat-label>
            <input [value]='teacher | fullname' matInput readonly />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
