<div class='col-12'>
  <mat-card class='col-12 px-0'>
    <mat-card-header>
      <mat-card-title>{{'comment.msg.title'|translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <app-comment-list (onDeleteComment)='deleteComment($event)'
                        (onEditComment)='editComment($event)'
                        [comments]='comments'
                        [loggedUserId]='loggedUserId'
      ></app-comment-list>

      <form #commentFormDirective='ngForm'
            (submit)='submit()'
            [formGroup]='commentForm'
            [formPath]='path'
            appConnectForm
            class='row'>
        <div class='col-10'>
          <mat-form-field class='col-12'>
                            <textarea
                              #autosize='cdkTextareaAutosize'
                              (keyup)='triggerResize()'
                              cdkAutosizeMaxRows='15'
                              cdkAutosizeMinRows='2'
                              cdkTextareaAutosize
                              formControlName='message'
                              matInput
                              placeholder="{{'comment.msg.placeholder' | translate}}"
                            ></textarea>
            <mat-error
              *ngIf="commentForm.controls['message'].hasError('required')"
            >{{'form.required'|translate}}</mat-error
            >
          </mat-form-field>
        </div>
        <button
          class='ml-1'
          color='primary'
          mat-icon-button
          matTooltip="{{'comment.msg.tooltip' | translate}}"
          type='submit'
        >
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
