<div class='col-12'>
  <app-breadcrumbs [names]='[moduleTitle | translate, data.name]'></app-breadcrumbs>
  <div class='text-right'>
    <button color='primary' mat-flat-button (click)='back(moduleId)'>
      <mat-icon>keyboard_backspace</mat-icon>
      {{'button.back'|translate}}
    </button>
  </div>

  <mat-card class='mt-2'>
    <mat-card-header></mat-card-header>
    <mat-card-content>
      <div class='col-12'>
        <div class='row'>
          <div class='col-12'>
            <mat-form-field class='col-1'>
              <mat-label>
                {{'group.detail.abbr.value'|translate}}
              </mat-label>
              <input
                matInput
                placeholder="{{'group.detail.abbr.placeholder'|translate}}"
                type='text'
                [value]='data.abbr'
                readonly
              />
            </mat-form-field>

            <mat-form-field class='col-3'>
              <mat-label>
                {{'group.detail.name.value'|translate}}
              </mat-label>
              <input
                matInput
                placeholder="{{'group.detail.name.placeholder'|translate}}"
                type='text'
                [value]='data.name'
                readonly
              />
            </mat-form-field>
          </div>
        </div>
        <div class='row'>
          <div class='col-12'>
            <h3>{{'event.title'|translate }}</h3>
<!-- todo: event table -->
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
