<h2 mat-dialog-title>{{'schema.dialog.title'|translate}}</h2>
<mat-dialog-content>
  <mat-form-field appearance='fill' class='col-12'>
    <mat-label>{{'schema.dialog.label'|translate}}</mat-label>
    <mat-select [formControl]='selected'>
      <mat-option *ngFor='let v of versions' [value]='v'>{{ v.name }}</mat-option>
    </mat-select>
    <mat-error *ngIf="selected.hasError('required')">
      {{'form.required'|translate}}
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]='result'>
    <mat-icon color='warn'>cancel</mat-icon>
    <span class='ml-2'>{{'schema.dialog.no-label'|translate}}</span>
  </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]='result' [disabled]='selected.invalid'>
    <mat-icon class='confirm-color'>done</mat-icon>
    <span class='ml-2'>{{'schema.dialog.yes-label'|translate}}</span>
  </button>
  <button mat-button (click)='addVersion()'>
    <mat-icon>add</mat-icon>
    <span class='ml-2'>{{'schema.dialog.new-label'|translate}}</span>
  </button>
</mat-dialog-actions>
