<div class="mat-typography mat-app-background" style='min-width: 480px'>
  <div class='mb-5'>
    <app-toolbar></app-toolbar>
  </div>
  <div class='px-4 py-4'>
    <router-outlet></router-outlet>
  </div>
</div>
