<div class='col-12'>
  <div class='row col-12'>
    <div class='col-10 text-left'>
      <mat-form-field appearance='fill'>
        <mat-label>{{'list.filter.label'|translate}}</mat-label>
        <input
          #input
          (keyup)='applyFilter(input.value)'
          [(ngModel)]='searchText'
          matInput
          placeholder="{{'user.list.filter.placeholder'|translate}}"
        />
        <button mat-button *ngIf='input.value' matSuffix mat-icon-button aria-label='Clear' (click)="applyFilter('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class='col-2 text-right'>
      <button
        (click)='newUser()'
        class='mb-2'
        color='primary'
        mat-flat-button
      >
        <mat-icon>add</mat-icon>
        Pridať osobu
        <!--        {{'user.button.add'|translate}}-->
      </button>
      <button (click)='refresh()' class='px-0 py-0' color='primary' mat-icon-button>
        <mat-icon [ngClass]="isLoading ? 'spin' : ''" matTooltip="{{'list.refresh'|translate}}">loop</mat-icon>
      </button>
    </div>
  </div>

  <div class='col-12'>
    <div *ngIf='isLoading' class='table-loading-shade'>
      <mat-spinner></mat-spinner>
    </div>
    <div class='mat-elevation-z8'>
      <table [dataSource]='dataSource' aria-label='table' mat-table matSort>
        <ng-container matColumnDef='id'>
          <th *matHeaderCellDef id='id' mat-header-cell mat-sort-header>Id</th>
          <td *matCellDef='let row' mat-cell>{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef='username'>
          <th *matHeaderCellDef id='username' mat-header-cell mat-sort-header>
            {{'user.detail.username'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row.username }}</td>
        </ng-container>

        <ng-container matColumnDef='first_name'>
          <th *matHeaderCellDef id='name' mat-header-cell mat-sort-header>
            {{'user.detail.name'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row.first_name }}</td>
        </ng-container>

        <ng-container matColumnDef='last_name'>
          <th *matHeaderCellDef id='surname' mat-header-cell mat-sort-header>
            {{'user.detail.surname'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row.last_name }}</td>
        </ng-container>

        <ng-container matColumnDef='groups'>
          <th *matHeaderCellDef id='groups' mat-header-cell mat-sort-header>
            {{'user.list.groups'|translate}}
          </th>
          <td *matCellDef='let row' mat-cell>{{ row |groupsNumber }}</td>
        </ng-container>

        <ng-container matColumnDef='btn'>
          <th *matHeaderCellDef id='btn' mat-header-cell mat-sort-header>
          </th>
          <td *matCellDef='let row' mat-cell>
            <button mat-icon-button matTooltip="{{'user-list.btn.edit'|translate}}"
                    (click)='editUser($event, row);'>
              <mat-icon class='decline-color'>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="{{'user-list.btn.delete'|translate}}"
                    (click)='deleteItem($event, row);'>
              <mat-icon class='decline-color'>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
        <tr
          *matRowDef='let row; columns: displayedColumns'
          [routerLink]="['/user/', row.id]"
          mat-row
          style='cursor: pointer'
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr *matNoDataRow class='mat-row'>
          <td class='mat-cell' colspan='4'>
            {{('list.data.' + ((searchText|isStringEmpty) ? 'empty' : 'filter'))|translate:{ 'searchText': searchText } }}
          </td>
        </tr>
      </table>

      <mat-paginator
        (page)='loadPage($event)'
        [length]='resultsLength'
        [pageIndex]='pageIndex'
        [pageSizeOptions]='pagination'
        [pageSize]='pageSize'
      ></mat-paginator>
    </div>
  </div>
</div>
