<div class='col-12 px-0 d-flex flex-wrap'>
  <!--   room   -->
  <mat-form-field class='col-12 col-lg-3'>
    <mat-label>{{'requirement.room.label'|translate}}</mat-label>
    <input matInput readonly [value]='room.name'>
  </mat-form-field>
  <mat-form-field class='col-12 col-lg-3'>
    <mat-label>{{'requirement.room.capacity.label'|translate}}</mat-label>
    <input matInput readonly [value]='room.capacity.toString()'>
  </mat-form-field>
  <!--   type   -->
  <!--      <mat-form-field class='col-12 col-lg-3'>-->
  <!--        <mat-label>{{'requirement.room.type.label'|translate}}</mat-label>-->
  <!--        <input matInput [value]='roomType.name'>-->
  <!--      </mat-form-field>-->
  <!--   equipment   -->
  <!--      <div class='col-12 col-lg-6'>-->
  <!--        <mat-list>-->
  <!--          <div mat-subheader>{{'requirement.room.equipment.title' | translate}}</div>-->
  <!--          <mat-list-item *ngFor="let equipment of roomEquipment">-->
  <!--            <mat-icon mat-list-icon>category</mat-icon>-->
  <!--            <div mat-line>{{equipment.equipment.name}}</div>-->
  <!--            <div mat-line> {{equipment.count | date}} </div>-->
  <!--          </mat-list-item>-->
  <!--        </mat-list>-->
  <!--      </div>-->

  <!--   department   -->
  <!--      <mat-form-field class='col-12 col-lg-3'>-->
  <!--        <mat-label>{{'requirement.room.department.label'|translate}}</mat-label>-->
  <!--        <input matInput [value]='department.name'>-->
  <!--      </mat-form-field>-->
</div>
