<div class='col-12'>
  <app-breadcrumbs [names]='[moduleTitle | translate, data.name]'></app-breadcrumbs>
  <div class='text-right'>
    <button (click)='back(moduleId)' color='primary' mat-flat-button>
      <mat-icon>keyboard_backspace</mat-icon>
      {{'button.back'|translate}}
    </button>
  </div>

  <mat-card class='mt-2'>
    <mat-card-header></mat-card-header>
    <mat-card-content>
      <div class='col-12'>
        <div class='row'>
          <div class='col-12'>
            <mat-form-field class='col-1'>
              <mat-label>{{'room.detail.capacity.label'|translate}}</mat-label>
              <input
                [value]='data.capacity.toString()'
                matInput
                placeholder="{{'room.detail.capacity.placeholder'|translate}}"
                readonly
                type='text'
              />
            </mat-form-field>

            <mat-form-field class='col-3'>
              <mat-label>{{'room.detail.department.label'|translate}}</mat-label>
              <input
                [value]='data.department.name'
                matInput
                placeholder="{{'room.detail.department.placeholder'|translate}}"
                readonly
                type='text'
              />
            </mat-form-field>
          </div>
        </div>
        <div class='row'>
          <div class='col-lg-6 col-sm-12'>
            <h3>{{'event.title'|translate }}</h3>
            <!-- todo: event table -->
          </div>
          <div *ngIf='data.equipment' class='col-lg-6 col-sm-12'>
            <h3>{{'room.detail.equipment'|translate}}</h3>
            <mat-list>
              <mat-list-item *ngFor='let item of data.equipment'>
                <mat-icon class='mr-2' color='accent'>
                  label
                </mat-icon>
                {{ item.equipment.name|translate }} - {{ item.count }}{{'room.detail.multiplicity'|translate}}
              </mat-list-item>
              <!-- todo: pridat list item pre pridavanie/upravu alebo novy komponent -> editovatelny list-->
            </mat-list>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
