<div class='col-12'>
  <app-breadcrumbs [names]='[moduleTitle |translate, data|fullname]'></app-breadcrumbs>
  <div class='text-right'>
    <button (click)='back(moduleId)' class='' color='primary' mat-flat-button>
      <mat-icon>keyboard_backspace</mat-icon>
      {{'button.back'|translate}}
    </button>
  </div>

  <mat-card class='mt-2'>
    <mat-card-header></mat-card-header>
    <mat-card-content>
      <div class='row mt-2'>
        <div class='col-6'>
          <h3>{{'user.title'|translate }}</h3>

          <div class='mat-form-field col-12 col-lg-4 mr-1'>
            <mat-label>{{'user.detail.groups'|translate}}</mat-label>
            <mat-chip-list>
              <mat-chip *ngFor='let group of data.groups'>
                {{group}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class='col-6'>
          <h3>{{'department.title'|translate }}</h3>
          <div *ngFor='let item of departmentData'
               [style.display]='(departmentData.length === 0) | hideElement'
               class='row ml-1'>

            <mat-form-field class='col-sm-12 col-6 col-lg-2'>

              <mat-label>{{'user.detail.employment.label'|translate }}</mat-label>
              <input [value]='item.employment | employment |translate' matInput readonly />

            </mat-form-field>

            <mat-form-field class='col-sm-12 col-6 col-lg-2'>

              <mat-label>
                {{'department.list.abbr'|translate }}
              </mat-label>
              <input [value]='item.abbr' matInput readonly />

            </mat-form-field>

            <mat-form-field class='col-sm-12 col-8 col-lg-8'>

              <mat-label>
                {{'department.list.name'|translate }}
              </mat-label>
              <input [value]='item.name' matInput readonly />

            </mat-form-field>
          </div>
          <div *ngIf='departmentDataLoading' fxLayout='column' fxLayoutAlign='space-between center'>
            <mat-spinner></mat-spinner>
            <span class='py-2'>{{'department.info.loading'|translate}}</span>
          </div>
          <div *ngIf='departmentDataError' class='row ml-1'>
            <span class='col-12'>{{'department.info.data'|translate}}</span>
          </div>
        </div>
      </div>

      <div class='row mt-2'>
        <div class='col-12'>
          <h3>{{'event.title'|translate }}</h3>
          <!-- todo component pre eventy-->
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
