<div class='col-12 px-0'>
  <h4>
    Výber role
  </h4>
  <form #form='ngForm'
        (ngSubmit)='resetForm(form)'
        [formGroup]='formGroup'
        [formPath]='path'
        appConnectForm
        class='d-flex flex-wrap ms-1'>
    <mat-chip-list class='col-12 mt-2 mat-chip-list-stacked'>
      <mat-chip
        (removed)='remove(role)'
        *ngFor='let role of selectedRoles; let i=index'
        [removable]='!readOnly'
        [selectable]='true'
        style="width:auto">
        <div class='d-flex flex-wrap'>
          <span>{{role}}</span>
        </div>
        <mat-icon *ngIf='!readOnly' matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <mat-form-field *ngIf='!readOnly' class='col-12 col-lg-3'>
      <mat-label>Role</mat-label>
<!--      <mat-label>{{'role.selection.role.label' | translate}}</mat-label>-->
      <mat-select formControlName='rToAdd'>
        <mat-option [value]="null">None</mat-option>
        <mat-option *ngFor='let r of roles' [value]='r'>
          {{r}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)='add()' *ngIf='!readOnly' [disabled]='formGroup.invalid' class='px-2' mat-icon-button>
      <mat-icon class='confirm-color' matTooltip="{{'role.selection.button.add.tooltip'|translate}}">add</mat-icon>
    </button>
  </form>
</div>
