<div class='col-12'>
  <!-- search -->
  

  <div class='row me-1 mb-4 ps-3 pe-3 pt-4'>
    <div class='col-12'>
      <div class='align-items-end'>
        <mat-form-field appearance='fill'>
          <mat-label>{{'list.filter.label'|translate}}</mat-label>
            <input
              #input
              (keyup)='applyFilter(input.value)'
              [(ngModel)]='searchText'
              matInput
              placeholder="{{'timetable.list.filter.placeholder'|translate}}"
            />
          <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')">
          <mat-icon>close</mat-icon>
        </button>
        </mat-form-field>
<!--        TODO: pravdepodobne odstrániť nepotrebné filtre, ktoré sa môžu robiť v menej poliach-->
<!--        <mat-form-field appearance='fill' class='me-1 ms-1'>-->
<!--          <mat-label>Stupeň štúdia</mat-label>-->
<!--&lt;!&ndash;          <mat-label>{{'timetable.search.degree.label'|translate}}</mat-label>&ndash;&gt;-->
<!--          <mat-select placeholder="Stupeň štúdia" [(ngModel)]="selectedDegree">-->
<!--            <mat-option [value]="null">None</mat-option>-->
<!--            <mat-option *ngFor="let degree of degrees" [value]="degree">{{degree}}</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance='fill' class='me-1 ms-1'>-->
<!--          <mat-label>{{'timetable.search.year.label'|translate}}</mat-label>-->
<!--          <mat-select placeholder="Ročník štúdia" [(ngModel)]="selectedYear">-->
<!--            <mat-option [value]="null">None</mat-option>-->
<!--            <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance='fill' class='me-1 ms-1'>-->
<!--          <mat-label>Skupiny</mat-label>-->
<!--&lt;!&ndash;          <mat-label>{{'timetable.search.group.label'|translate}}</mat-label>&ndash;&gt;-->
<!--          <mat-select placeholder="Skupina" [(ngModel)]="selectedTeacher">-->
<!--            <mat-option [value]="null">None</mat-option>-->
<!--            <mat-option *ngFor="let group of groups$ | async" [value]="group">{{group.abbr}}</mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field appearance='fill'>-->
<!--          <mat-label>Vyučujúci</mat-label>-->
<!--&lt;!&ndash;          <mat-label>{{'list.filter.label'|translate}}</mat-label>&ndash;&gt;-->
<!--          <input-->
<!--            #inputTeacher-->
<!--            (keyup)='applyFilter(input.value)'-->
<!--            [(ngModel)]='searchText'-->
<!--            matInput-->
<!--            placeholder="{{'timetable.list.filter.placeholder'|translate}}"-->
<!--          />-->
<!--          <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')">-->
<!--            <mat-icon>close</mat-icon>-->
<!--          </button>-->
<!--        </mat-form-field>-->
      </div>
    </div>
    <div class='col-12'>
      <div class='mat-elevation-z8' style='width: 100%'>
        <table aria-label='table' mat-table [dataSource]='dataSource' matSort>

          <ng-container matColumnDef='id'>
            <th mat-header-cell id='id' *matHeaderCellDef mat-sort-header>
              ID
              <!-- {{'timetable.list.id'|translate}}-->
            </th>
            <td mat-cell *matCellDef='let row'>{{ row.id }}</td>
          </ng-container>
          <ng-container matColumnDef='groups'>
            <th mat-header-cell id='groups' *matHeaderCellDef mat-sort-header>
              Skupiny
              <!-- {{'timetable.list.groups'|translate}}-->
            </th>
            <td mat-cell *matCellDef='let row'>{{ row.groups}}</td>
          </ng-container>
          <ng-container matColumnDef='rooms'>
            <th mat-header-cell id='rooms' *matHeaderCellDef mat-sort-header>
              Miestnosti
              <!-- {{'timetable.list.rooms'|translate}}-->
            </th>
            <td mat-cell *matCellDef='let row'>{{ row.rooms }}</td>
          </ng-container>
          <ng-container matColumnDef='teachers'>
            <th mat-header-cell id='teachers' *matHeaderCellDef mat-sort-header>
              Vyučujúci
              <!-- {{'timetable.list.teachers'|translate}}-->
            </th>
            <td mat-cell *matCellDef='let row'>{{ row.teachers }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
          <tr mat-row *matRowDef='let row; columns: displayedColumns'
            style='cursor: pointer'
          ></tr>
        <!--Row when no matching data -->
          <tr class='mat-row' *matNoDataRow>
            <td class='mat-cell' colspan='4'>
              {{('list.data.' + ((searchText|isStringEmpty) ? 'empty' : 'filter'))| translate:{ 'searchText': searchText } }}
            </td>
          </tr>
        </table>

        <mat-paginator
          (page)='loadPage($event)'
          [length]='resultsLength'
          [pageIndex]='pageIndex'
          [pageSizeOptions]='pagination'
          [pageSize]='pageSize'
        ></mat-paginator>
      </div>
    </div>
  </div>

  <div class='row me-1 mb-4 ps-3 pe-3 pt-4' *ngIf="timetablesList$!=null">
    <mat-tab-group mat-align-tabs="start">
      <ng-container *ngFor="let tt of timetablesList$ | async;">
        <mat-tab [value]="tt">
          <ng-template *ngIf="tt.name != null" mat-tab-label>
            {{tt.name}}
            <button class='me-2 mb-2' mat-icon-button
                    (click)='clearTimetable(tt); $event.stopPropagation()' >
              <mat-icon>clear</mat-icon>
            </button>
          </ng-template>
          {{tt.name}}
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>

  <ng-container *ngIf="selectedTimetable">
    <!-- nezaradene -->
    <div class='row me-1 mb-4 ps-3 pe-3 pt-2'>
      <div class='col-12'>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{'timetable.schedule.events.title'|translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div
              cdkDropList
              #predmetyContainer
              [cdkDropListData]='courses'
              [id]='coursesID'
              [cdkDropListConnectedTo]='cdkDropCourseLists'
              cdkDropListOrientation='horizontal'
              class='list-group list-group-horizontal'
              (cdkDropListDropped)='drop($event, courses)'
              (cdkDropListExited)='exited($event)'
            >
              <div
                class='time-box'
                [ngStyle]='{ width: getWidth(predmetyContainer.offsetWidth) }'
              >
                <h3>{{'timetable.schedule.subjects.title'|translate}}</h3>
              </div>
              <app-course-item
                *ngFor='let item of courses'
                [ngStyle]='{
                                    width: getWidth(predmetyContainer.offsetWidth)
                                }'
                [data]='item'
              ></app-course-item>
            </div>

            <div
              cdkDropList
              #cviceniaContainer
              [cdkDropListData]='practices'
              [id]='practicesID'
              [cdkDropListConnectedTo]='cdkDropCourseLists'
              cdkDropListOrientation='horizontal'
              class='list-group list-group-horizontal'
              (cdkDropListDropped)='drop($event, practices)'
              (cdkDropListExited)='exited($event)'
            >
              <div
                class='time-box'
                [ngStyle]='{width: getWidth(cviceniaContainer.offsetWidth)}'>
                <h3>{{'timetable.schedule.exercise.title'|translate}}</h3>
              </div>
              <app-course-item
                *ngFor='let item of practices'
                [ngStyle]='{width: getWidth(cviceniaContainer.offsetWidth)}'
                [data]='item'
              ></app-course-item>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <!-- rozvrh -->
    <div class='row me-1 mb-4 ps-3 pe-3 pt-2'>
      <div class='col-12'>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{'timetable.schedule.actual.title'|translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!--    hodiny      -->
            <div class='list-group list-group-horizontal'>
              <div class='time-box col-1'></div>
              <div class='time-box col-1' *ngFor='let item of hours'>
                <strong>{{ item }}:00 - {{ item }}:50</strong>
              </div>
            </div>

            <div
              *ngFor='let day of days; let i = index'
              [id]='day'
              cdkDropList
              cdkDropListOrientation='horizontal'
              [cdkDropListData]='_data[i]'
              class='list-group list-group-horizontal'
              (cdkDropListDropped)='drop($event, _data[i])'
              (cdkDropListEntered)='entered($event)'
              (cdkDropListSorted)='sorted($event)'
              (cdkDropListExited)='exited($event)'
              [cdkDropListConnectedTo]='cdkDropCourseLists'
              #container
            >
              <div
                class='time-box'
                [ngStyle]='{ width: getWidth(container.offsetWidth) }'
              >
                <strong>{{ days[i] }}</strong>
              </div>
              <app-course-item
                *ngFor='let item of _data[i]; let j = index'
                [ngStyle]='{ width: getWidth(container.offsetWidth) }'
                [data]='item'
                [timeRequirement]='getTimeUnit(i, j)'
              ></app-course-item>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color='primary'>
              <mat-icon>save</mat-icon>
              {{'button.save'|translate}}
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-container>
</div>
