<div class="">
	<app-timetable-version (selected)="timetableSelected($event)"></app-timetable-version>
	<app-timetable-filter
		class="row mb-3"
		[formGroup]="advancedFilter"
	></app-timetable-filter>
	<div class="activity-bar-wrapper">
		<mat-spinner *ngIf="isLoadingEvents | async" class="spinner"></mat-spinner>
		<div
			class="activity-bar"
			(drop)="onDrop($event, null, null)"
			cdkDropList
			(dragover)="onDragOver($event)"
			*ngIf="!(isLoadingEvents | async)"
		>
			<app-timetable-event-item
				#eventItem
				class="mx-1"
				[event]="event"
				*ngFor="let event of events"
				draggable="true"
				(dragstart)="onDragStart(event)"
				(dragend)="onDropEvent(eventItem)"
			>
			</app-timetable-event-item>
		</div>
	</div>

	<table>
		<thead>
			<tr>
				<th>
					<mat-icon style="cursor: pointer" (click)="loadEvents()">autorenew</mat-icon>
				</th>
				<th *ngFor="let hour of hours">{{ hour }}</th>
			</tr>
		</thead>
		<tr *ngFor="let day of days; let indexDay = index">
			<td>{{ day }}</td>
			<td *ngFor="let hour of hours; let indexHour = index">
				<app-timetable-cell
					[classList]="data[day][hour].classes"
					[style.position]="isDragging ? 'relative' : 'static'"
					[hour]="hour"
					(dragover)="onDragOver($event)"
					(drop)="onDrop($event, day, hour)"
					[offsetEvents]="data[day][hour - 1] ? data[day][hour - 1].items : []"
					[events]="data[day][hour].items"
					cdkDropList
					(onAssignedActivityStart)="onDragStart($event, day, hour)"
				></app-timetable-cell>
			</td>
		</tr>
	</table>
</div>
