.time-box {
	padding: 20px 10px;
	border: solid 1px #ccc;
	color: rgba(0, 0, 0, 0.87);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	background: whitesmoke;
	font-size: 14px;
}

table {
	width: auto;
	height: fit-content;
	tr {
		height: 100%;
	}
}

table .cell {
	font-size: 14px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.87);
	border: 1px solid #ccc;
	min-height: 115px;
	height: 100%;
	width: 100px;
	display: block;
	padding: 5px;
	position: static;
	z-index: 50;
}

.activity-bar {
	display: flex;
	width: auto;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	row-gap: 0.5rem;
	flex-wrap: wrap;
}
.activity-bar-wrapper {
	padding: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.green {
	background-color: #4caf50;
}

.unsuitable {
	background-color: #ff9800;
}

.unavailable {
	background-color: #f44336;
}
