<cdk-virtual-scroll-viewport itemSize='75' [style.height]='heightByComments(comments)'>
  <mat-card *cdkVirtualFor='let comment of comments' class='mt-2 mb-1'>
    <div class='float-right align-content-center'>
      <ng-container *ngIf='comment.created_by | loggedUser:loggedUserId'>
        <button
          [matMenuTriggerFor]='menu'
          aria-label='Example icon-button with a menu'
          mat-icon-button
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu='matMenu' yPosition='below'>
          <button
            (click)='deleteComment(comment.id)'
            mat-menu-item
            matTooltip="{{'comment.delete.tooltip'|translate}}"
          >
            <mat-icon color='warn'>delete</mat-icon>
            {{'button.delete'|translate}}
          </button>

          <button
            (click)='editComment(comment)'
            mat-menu-item
            matTooltip="{{'comment.edit.tooltip'|translate}}"
          >
            <mat-icon color='primary'>edit</mat-icon>
            {{'button.edit'|translate}}
          </button>
        </mat-menu>
      </ng-container>
    </div>

    <mat-card-header>
      <mat-card-title> {{ comment.createdByUser | fullname }} </mat-card-title>
      <mat-card-subtitle> {{ comment.created_at | date:'short' }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf='editing !== comment.id'>{{ comment.text }}</p>
      <ng-container *ngIf='editing === comment.id'>
        <form [formGroup]='commentForm' class='px-0 col-12'>
          <mat-form-field class='col-12'>
            <input formControlName='message' matInput>
            <mat-hint>{{comment.text}}</mat-hint>
          </mat-form-field>

          <button (click)='cancelEditing()' mat-icon-button>
            <mat-icon class='decline-color'>cancel</mat-icon>
          </button>

          <button (click)='saveEditComment(comment)' mat-icon-button>
            <mat-icon class='confirm-color'>done</mat-icon>
          </button>
        </form>
      </ng-container>
    </mat-card-content>
  </mat-card>
</cdk-virtual-scroll-viewport>
