<form (ngSubmit)='onSubmit()' [formGroup]='loginForm' class='col-12 mt-5' *ngIf='{
        error: (data$ | async).error,
        pending: (data$ | async).pending
      } as data'>
  <div fxLayout='column' fxLayoutAlign='space-between center' *ngIf='!data.pending'>
    <mat-form-field class='col-4'>
      <mat-label>{{'login.login'|translate}}</mat-label>
      <input
        aria-label='login'
        formControlName='login'
        matInput
        placeholder='xosoba'
        type='text'
      />
      <mat-error *ngIf="loginForm.controls['login'].hasError('required')">
        {{'login.error.required'|translate:{ field: 'login.login'|translate } }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class='col-4'>
      <mat-label>{{'login.pass'|translate}}</mat-label>
      <input
        aria-label='pass'
        formControlName='pass'
        matInput
        placeholder=''
        type='password'
      />
      <mat-error *ngIf="loginForm.controls['pass'].hasError('required')">
        {{'login.error.required'|translate:{ field: 'login.pass'|translate } }}

      </mat-error>
    </mat-form-field>

    <button
      class='ml-1'
      color='primary'
      mat-raised-button
      matTooltip="{{'login.login-btn.tooltip'|translate}}"
      type='submit'>
      <mat-icon>login</mat-icon>
      <span class='ml-2'>{{'login.login-btn.action'|translate}}</span>
    </button>
  </div>
  <div *ngIf='data.pending' fxLayout='column' fxLayoutAlign='space-between center'>
    <mat-spinner></mat-spinner>
    <span class='py-2'>{{'login.loading'|translate}}</span>
  </div>
</form>
