<div class='col-12'>
  <div class='row'>
    <div class='col-9 text-left'>
      <mat-form-field appearance='fill'>

        <mat-label>{{'list.filter.label'|translate}}</mat-label>
        <input
          #input
          (keyup)='applyFilter(input.value)'
          [(ngModel)]='searchText'
          matInput
          placeholder="{{'room.list.filter.placeholder'|translate}}"
        /><button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')">
        <mat-icon>close</mat-icon>
      </button>
      </mat-form-field>

      <mat-form-field appearance='fill' class='mr-1 ml-1'>
        <mat-label>{{'room.list.filter.capacity'|translate}}</mat-label>
        <mat-select
          [(value)]='capacity'
          (selectionChange)='applyCapacityFilter($event)'
        >
          <mat-option>{{'list.filter.select.empty'|translate}}</mat-option>
          <mat-option *ngFor='let item of capacities' [value]='item'>
            {{item | capacity}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance='fill' class='mr-1 ml-1'>
        <mat-label>{{'room.list.filter.type'|translate}}</mat-label>
        <mat-select
          (valueChange)='valueChange($event)'
          multiple
        >
          <mat-option *ngFor='let item of roomTypes' [value]='item'>
            {{ item.name | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class='col-2' style="align-self: center">
      <button
        (click)='newRoom()'
        class='mb-2'
        color='primary'
        mat-flat-button
      >
        <mat-icon>add</mat-icon>
        Pridať miestnosť
<!--        {{'rooms.button.add'|translate}}-->
      </button>
      <button (click)='refresh()' class='px-0 py-0' color='primary' mat-icon-button>
        <mat-icon [ngClass]="isLoading ? 'spin' : ''" matTooltip="{{'list.refresh'|translate}}">loop</mat-icon>
      </button>
    </div>
  </div>

  <div class='col-12'>
    <div class='row'>
      <div class='mat-elevation-z8' style='width: 100%'>
        <table aria-label='table' mat-table [dataSource]='dataSource' matSort>

          <ng-container matColumnDef='name'>
            <th mat-header-cell id='name' *matHeaderCellDef mat-sort-header>
              {{'room.list.name'|translate}}
            </th>
            <td mat-cell *matCellDef='let row'>{{ row.name }}</td>
          </ng-container>

          <ng-container matColumnDef='capacity'>
            <th mat-header-cell id='cap' *matHeaderCellDef mat-sort-header>
              {{'room.list.capacity'|translate}}
            </th>
            <td mat-cell *matCellDef='let row'>{{ row.capacity }}</td>
          </ng-container>

          <ng-container matColumnDef='type'>
            <th mat-header-cell id='type' *matHeaderCellDef mat-sort-header>
              {{'room.list.type'|translate}}
            </th>
            <td mat-cell *matCellDef='let row'>{{ row.type | roomType }}</td>
          </ng-container>

          <!-- department Column -->
          <ng-container matColumnDef='department'>
            <th mat-header-cell id='dep' *matHeaderCellDef mat-sort-header>
              {{'room.list.department'|translate}}
            </th>
            <td mat-cell *matCellDef='let row'>
              {{ row.department | departmentName }}
            </td>
          </ng-container>

          <ng-container matColumnDef='btn'>
            <th *matHeaderCellDef id='btn' mat-header-cell mat-sort-header>
            </th>
            <td *matCellDef='let row' mat-cell>
              <button mat-icon-button matTooltip="{{'room-list.btn.edit'|translate}}"
                      (click)='editRoom($event, row);'>
                <mat-icon class='decline-color'>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="{{'room-list.btn.delete'|translate}}"
                      (click)='deleteItem($event, row);'>
                <mat-icon class='decline-color'>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
          <tr
            mat-row
            *matRowDef='let row; columns: displayedColumns'
            style='cursor: pointer'
            [routerLink]="['/room/', row.id]"
          ></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class='mat-row' *matNoDataRow>
            <td class='mat-cell' colspan='4'>
              {{('list.data.' + ((searchText|isStringEmpty) ? 'empty' : 'filter'))|translate:{ 'searchText': searchText } }}
            </td>
          </tr>
        </table>

        <mat-paginator
          (page)='loadPage($event)'
          [length]='resultsLength'
          [pageIndex]='pageIndex'
          [pageSizeOptions]='pagination'
          [pageSize]='pageSize'
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
