<div class='col-12'>
  <app-breadcrumbs [names]="[moduleTitle|translate, 'user.subtitle' | translate]"></app-breadcrumbs>
  <div class='text-right'>
    <button (click)='back()' color='primary' mat-flat-button>
      <mat-icon>keyboard_backspace</mat-icon>
      {{'button.back'|translate}}
    </button>
  </div>

  <mat-card class='mt-2 mb-5 col-12'>
    <mat-card-header>
      <mat-card-title>Vytvorenie novej osoby
        <!--        {{ 'user.title.new' | translate }}-->
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #form='ngForm'
            (ngSubmit)='resetForm(form)'
            [formGroup]='userForm'
            class='px-0 col-12 d-flex flex-wrap'>
        <!-- predmet -->
        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            ID
            <!--            {{'user.id' | translate}}-->
          </mat-label>
          <input formControlName='id'
                 matInput
                 placeholder="{{'user.form.id.placeholder' | translate}}"
                 type='number'
          />
        </mat-form-field>
        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            Používateľské meno
            <!--            {{'user.name' | translate}}-->
          </mat-label>
          <input formControlName='userName'
                 matInput
                 placeholder="{{'user.form.userName.placeholder' | translate}}"
                 type='text'
                 required
          />
          <mat-error *ngIf="controls.userName.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            Title Before
            <!--            {{'user.name' | translate}}-->
          </mat-label>
          <input formControlName='titleBefore'
                 matInput
                 placeholder="{{'user.form.guarantor.placeholder' | translate}}"
                 type='text'
          />
        </mat-form-field>


        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            Title After
            <!--            {{'user.name' | translate}}-->
          </mat-label>
          <input formControlName='titleAfter'
                 matInput
                 placeholder="{{'user.form.departmentCourse.placeholder' | translate}}"
                 type='text'
          />
        </mat-form-field>

        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            First Name
            <!--            {{'user.name' | translate}}-->
          </mat-label>
          <input formControlName='firstName'
                 matInput
                 placeholder="{{'user.form.codeForCourse.placeholder' | translate}}"
                 type='text'
                 required
          />
          <mat-error *ngIf="controls.firstName.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            Last Name
            <!--            {{'user.name' | translate}}-->
          </mat-label>
          <input formControlName='lastName'
                 matInput
                 placeholder="{{'user.form.completionForCourse.placeholder' | translate}}"
                 type='text'
                 required
          />
          <mat-error *ngIf="controls.lastName.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>
        <div class='col-12 col-lg-3' *ngIf="this.userExistsData!==undefined; else notExistedData">
          <app-role-selection
            #roleSelection
            [selectedRolesData]="this.userExistsData.groups"
            (onSetRole)="addRoleToUser($event)"
            (onRemoveRole)="removeRoleFromUser($event)"
            class='col-12 px-0 py-0'
          >
          </app-role-selection>
        </div>
        <ng-template #notExistedData>
          <app-role-selection
            #roleSelection
            (onSelectedRoles)="handleSelectedGroups($event)"
            class='col-12 px-0 py-0'
          >
          </app-role-selection>
        </ng-template>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <mat-action-list>
        <button
          (click)='onUserCancel()'
          [matTooltip]="'user.button.cancel.tooltip'|translate"
          mat-flat-button
          type='button'
        >
          <mat-icon color='warn'>close</mat-icon>
          <span class='ml-2'>
            {{'button.cancel'|translate}}
          </span>
        </button>

        <button
          (click)='submit()'
          [matTooltip]="'user.button.submit.tooltip'|translate"
          class='ms-1'
          mat-flat-button
          [disabled]='userForm.invalid'
          type='submit'
        >
          <mat-icon color='primary'>send</mat-icon>
          <span class='ml-2'>
            {{'button.submit'|translate}}
          </span>
        </button>
      </mat-action-list>

    </mat-card-actions>
  </mat-card>
</div>
