<div class='col-12'>
  <app-breadcrumbs [names]="[moduleTitle|translate, 'room.subtitle' | translate]"></app-breadcrumbs>
  <div class=''>
    <button (click)='back()' color='primary' mat-flat-button>
      <mat-icon>keyboard_backspace</mat-icon>
      {{'button.back'|translate}}
    </button>
  </div>

  <mat-card class='mt-2 mb-5 col-12'>
    <mat-card-header>
      <mat-card-title>Vytvorenie novej miestnosti
<!--        {{ 'room.title.new' | translate }}-->
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #form='ngForm'
            (ngSubmit)='resetForm(form)'
            [formGroup]='roomForm'
            class='px-0 col-12 d-flex flex-wrap'>
        <!-- predmet -->
        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            Názov miestnosti
<!--            {{'room.name' | translate}}-->
          </mat-label>
          <input formControlName='roomName'
                 matInput
                 placeholder="{{'room.form.placeholder' | translate}}"
                 type='text'
                 required
          />
          <mat-error *ngIf="controls.roomName.hasError('required')">
                      {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>

        <!-- kapacita studentov -->
        <mat-form-field class='col-12 col-md-3 col-lg-1 me-3'>
          <mat-label>
            Kapacita miestnosti
<!--            {{'room.students.label' | translate}}-->
          </mat-label>
<!--          <button (click)='controls.studentsNum.reset()' *ngIf='formData.studentsNum' aria-label='Clear' mat-icon-button-->
<!--                  matSuffix>-->
<!--            <mat-icon>close</mat-icon>-->
<!--          </button>-->
          <input
            formControlName='capacityInRoom'
            matInput
            placeholder='10'
            type='number'
            required
          />
          <mat-error *ngIf="controls.capacityInRoom.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            Ústav pre miestnosť
            <!--            {{'room.name' | translate}}-->
          </mat-label>
          <input formControlName='departmentForRoom'
                 matInput
                 placeholder="10"
                 type='number'
                 required
          />
          <mat-error *ngIf="controls.departmentForRoom.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class='col-12 col-md-4 col-lg-3 me-3'>
          <mat-label>
            Typ miestnosti
            <!--            {{'room.name' | translate}}-->
          </mat-label>
          <input formControlName='typeOfRoom'
                 matInput
                 placeholder="10"
                 type='number'
                 required
          />
          <mat-error *ngIf="controls.typeOfRoom.hasError('required')">
            {{'form.required'|translate}}
          </mat-error>
        </mat-form-field>
        <div class='col-12 col-lg-3'>
          <app-equipment-selection
            #equipmentSelection
            (onChange)="handleSplitChange($event)"
            [equipments]="equipmentData"
            class='col-12 px-0 py-0'
          >
          </app-equipment-selection>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <mat-action-list>
        <button
          (click)='onRoomCancel()'
          [matTooltip]="'room.button.cancel.tooltip'|translate"
          mat-flat-button
          type='button'
        >
          <mat-icon color='warn'>close</mat-icon>
          <span class='ml-2'>
            {{'button.cancel'|translate}}
          </span>
        </button>

        <button
          (click)='submit()'
          [matTooltip]="'room.button.submit.tooltip'|translate"
          class='ml-1'
          mat-flat-button
          [disabled]='roomForm.invalid'
          type='submit'
        >
          <mat-icon color='primary'>send</mat-icon>
          <span class='ml-2'>
            {{'button.submit'|translate}}
          </span>
        </button>
      </mat-action-list>

    </mat-card-actions>
  </mat-card>
</div>
