<ol
    class="breadcrumb"
    style="float: left; position: relative; padding: 10px 10px 10px 20px; font-size: 15px"
>
    <li *ngFor="let name of names; index as i" class="breadcrumb-item">
        <a *ngIf="links[i]" [routerLink]="buildPath(i)">{{ name }}</a>
        <span *ngIf="!links[i]">{{ name }}</span>
    </li>
</ol>
