<div class='col-12'>
  <div class='row mr-1 mb-4 pl-3 pr-3 pt-4'>
    <div class='col-12'>
      <div class='row flex-wrap'>
        <app-dashboard [title]="'timetable.link'|translate">{{'statistics.data.none'|translate}}</app-dashboard>
        <app-dashboard [title]="'department.link'|translate">{{'statistics.data.none'|translate}}</app-dashboard>
        <app-dashboard [title]="'course.link'|translate">{{'statistics.data.none'|translate}}</app-dashboard>

        <app-dashboard [title]="'room.link'|translate">{{'statistics.data.none'|translate}}</app-dashboard>
        <app-dashboard [title]="'group.link'|translate">{{'statistics.data.none'|translate}}</app-dashboard>
        <app-dashboard [title]="'user.link'|translate">{{'statistics.data.none'|translate}}</app-dashboard>

        <div id="requirement_dashboard" class='col-3'>
          <div class='row mr-1 mb-4 pl-3 pr-3 pt-4'>
            <mat-card style='width: 400px'>
              <mat-card-header>
                <mat-card-title>{{ 'requirement.link'|translate }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-list>
                  <mat-list-item *ngFor='let item of req'>
                    <p matLine>
                      <mat-icon [style.color]='item.color'>{{
                        item.icon
                        }}</mat-icon>
                      <span class='ml-2'> {{ item.name|translate: { count: 1 } }} </span>
                      <span> -- {{ item.count }} </span>
                    </p>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <!--        <app-dashboard [title]="'requirement.link'|translate">-->
<!--&lt;!&ndash;          {{'statistics.data.none'|translate}}&ndash;&gt;-->
<!--          <mat-list *ngIf='false'>-->
<!--            <mat-list-item *ngFor='let item of req'>-->
<!--              <p matLine>-->
<!--                <mat-icon [style.color]='item.color'>{{-->
<!--                  item.icon-->
<!--                  }}</mat-icon>-->
<!--                <span class='ml-2'> {{ item.name|translate: { count: 1 } }} </span>-->
<!--                <span> &#45;&#45; {{ item.count }} </span>-->
<!--              </p>-->
<!--            </mat-list-item>-->
<!--          </mat-list>-->
<!--        </app-dashboard>-->
      </div>
    </div>
  </div>
</div>
