<div
	[class.colliding]="isErrorCollision"
	[style.border-radius]="event.event.activity.category === 1 ? '0' : '15px'"
	class="box"
	[style.background-color]="color"
	(click)="openEventOptionsDialog()"
>
	<div class="icon-bar">
		<small class="">{{ event.event.room ? event.event.room.name : null }}</small>
		<!-- <mat-icon
			*ngIf="event.event.day && event.event.time"
			class="icon"
			[style.color]="'black'"
			>meeting_room</mat-icon
		> -->
		<mat-icon
			(click)="openCollision($event)"
			*ngIf="(collisions$ | async).length"
			class="icon"
			[style.color]="'red'"
			>warning</mat-icon
		>
	</div>

	<div class="row title">{{ event.event.activity.course_code }}</div>
	<small class="row">
		{{ event.event.activity.category | eventType }} | {{ event.event.activity.duration }}h
	</small>
</div>
