.box {
	width: 100%;
	height: 50px;
	// border: 1px blueviolet solid;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 20px;
	position: relative;
	z-index: 20;
}
.colliding {
	box-shadow: 0 0 10px 1px red;
}

.title {
	margin-top: 15px;
	line-height: 12px;
}

small {
	font-size: 0.7em;
}

.icon-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: flex;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	justify-content: space-between;
}

.collision-popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 20px;
}
